[2017-12-07 20:29] tcochrane1969 opened #8 "After adding NgChatModule to app.Module, project won't build"
All I did was intall ng-chat and then import into app module

ERROR in ./~/ng-chat/ng-chat/ng-chat.component.ts
Module not found: Error: Can't resolve ''

[2017-12-08 02:37] rpaschoal commented on #8
Hi @tcochrane1969, would you be able to post here a jsfiddle reproducing that?

[2017-12-09 20:25] tcochrane1969 commented on #8
Hi rpaschoal,
I figured it out last night. I had updated my webpack and since all my other css was just bootstrap, I wasn't using any .css files.  When I added ng-chat you use .css files and my loader needed to change with the new version of webpack to css-loader.  Once I updated that everything started working.  Thanks.

[2017-12-10 00:57] rpaschoal commented on #8
@tcochrane1969 I am glad you managed to sort it out. I will close this issue but feel free to open another one if you have any doubts or suggestions for this project.

[2017-12-10 00:57] #8 closed

[2017-12-12 09:51] vikasbunny opened #9 "When a chat window is not already open and user receives the message, the receiver sees the message twice"
When  a receiver gets a message , and the  conversation window is not already opened , the user will see the message twice.

This happens because the method  `onMessageReceived` in ng-chat.component.ts

[code]

Here the method call  this.openChatWindow(user); loads the message from messageHistory i.e. `this.adapter.getMessageHistory`

And then again
   chatWindow.messages.push(message); appends th

[2017-12-13 05:03] rpaschoal commented on #9
Hi @vikasbunny,

Thank you for raising this issue.

Are you using any kind of web sockets on your implementation (EG: socket.io, signalR)?

I am just wondering if this could be the case of notifying the user before persisting the message into the user history. This would avoid a double message issue.

Let me know your thoughts around this. I am just considering that other people might push the mes

[2017-12-13 05:09] rpaschoal commented on #9
@vikasbunny I think I see the problem, even if you notify first, there is a request to the history after you push that to the socket when opening the window. 👍

[2017-12-13 05:54] rpaschoal commented on #9
@vikasbunny I have merged #10 but I will be doing a few changes on top of it before publishing the package as we need a setting to check if the history is being used or not (In cases where the history is not used the window would just be blank).

[2017-12-13 06:18] vikasbunny commented on #9
@rpaschoal That will be great, thank you so much.

[2017-12-13 06:39] rpaschoal commented on #9
@vikasbunny I've just published 0.1.0-beta.12 with the fix. Would you be able to check and see if that is working fine for you?

I've added a new "historyEnabled" setting but it defaults to true so you probably don't need to worry about it.

[2017-12-19 00:10] #9 closed

[2018-01-15 18:27] powerhcm8 opened #25 "Module build failed"
I received this message on my first try to run after importing the module.

    ./node_modules/ng-chat/index.ts
    Module build failed: Error: ...\node_modules\ng-chat\index.ts is missing from the TypeScript
    compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
    The missing file seems to be part of a third party library. TS files in published libraries

[2018-01-15 18:44] powerhcm8 commented on #25
I made some more tests, and it work on "ng build --prod", this error hust happens on "ng serve --host 0.0.0.0"

[2018-01-15 20:42] rpaschoal commented on #25
Hi @powerhcm8

It seems to me that your project is trying to compile the typescript under the ng-chat dependency. That isn't necessary, the files are already compiled on NPM so you just have to import the modules.

[2018-01-15 22:03] rpaschoal commented on #25
@powerhcm8

You can exclude your node_modules folder in your tsconfig file with this:

` "exclude": [
    "node_modules"
  ]`

Or if you want to exclude just the ng-chat folder:

`"exclude": [
    "node_modules/ng-chat"
  ]`

[2018-01-16 13:01] powerhcm8 commented on #25
Neither of the options worked.

I ran your demo here and it worked, I think it's because I am using angular 5.
When I tried to upgrade to angular 5, it started to give the same error.

[2018-01-17 05:25] rpaschoal commented on #25
Hi @powerhcm8,

From the error message that you've posted, it really seems to me that your project is trying to compile the typescript within your node_modules folder.

I've updated the offline_bot demo project to use Angular 5.2.0 and it is working just fine (Pushed the changes to development and master branches). This module was built to run from Angular 2 to current version.

Give it a go, and

[2018-01-17 06:25] rpaschoal commented on #25
@powerhcm8,

I've managed to reproduce the issue when I upgraded to the latest version of angular-cli.

Will investigate it further and see what is going on.

[2018-01-17 08:34] rpaschoal commented on #25
@powerhcm8,

I've followed up this to help me in understanding what is going on: https://github.com/angular/angular-cli/issues/8284

I've made a few changes and released 1.0.2 so you can use it in your project, you will just have to add the following include in your tsconfig file for the time being:

`"include": [
    // Your own includes if any
    "node_modules/ng-chat/**/*",
  ]`

I will have t

[2018-01-22 02:04] rpaschoal commented on #25
Hi @powerhcm8,

I've released 1.0.3 which is already using _ng-packagr_ to transpile and package this project.

There is **no** need to change your **tsconfig** for this library in order for your project to run anymore (As per 1.0.2 temporary fix).

Please let me know if this is working for you now.

Cheers!

[2018-01-23 10:04] eddy2enam opened #29 "change css"
how to change postion Friend list to left side and change width and height?
thanks

[2018-01-24 02:56] rpaschoal commented on #29
Hi @eddy2enam,

At the moment there is no setting to change the friends list to the left side of the screen. The width and height could be changed, but for that time being that would mean everyone using the package would be affected as they are just private properties used in the viewport calculation.

There is a bit of work going on behind the scenes regarding viewport size and the size of the fr

[2018-01-24 23:19] rpaschoal commented on #25
Closing this as it was fixed on #27

[2018-01-24 23:19] #25 closed

[2018-02-08 11:13] powerhcm8 commented on #25
Sorry for the delay, I was working on another project and couldn't test it.
It is working perfectly now, thanks.

[2018-02-08 19:44] rpaschoal commented on #25
No worries mate!

Thanks for reporting the issue @powerhcm8. I've got 1.0.4 coming with sound notifications, will get it up on NPM this weekend most likely. 🎉

If you have any suggestions on new features, feel free to post an issue with a list of suggestions, most welcome! 👍

Cheers!

[2018-02-27 17:26] todd7 opened #34 "Doubt placeholder"
Hi Rafael,

I'm a Brazilian developer. I have a doubt, would have some way to change the placeholder "translate to Portuguese" and stylize all component ?

![capturar](https://user-images.githubusercontent.com/21241163/36743876-1c887548-1bca-11e8-9347-8e614eac572a.PNG)

[2018-02-27 19:56] rpaschoal commented on #34
Hi @todd7,

You're right, I've put a placeholder for the message input but I didn't put one for the search. Would you be able to send a pull request with an input property named as ```searchPlaceholder``` and an unit test for that? Tons of example in the source code, you can check out what I've done for the ```messagePlaceholder```.

Regarding the style of the component, I haven't come up with a s

[2018-02-28 13:29] todd7 commented on #34
Hello, the test would be `[searchPlaceholder]="searchPlaceholder"` and change property in .ts ? I did this test and it did not work ;/
It would be cool if you could manipulate the size and color of the component and.

I'm sorry for the bad english, google translate...

[2018-02-28 20:42] rpaschoal commented on #34
Hi @todd7,

Yes, pretty much it, the test would be different though. I will branch a 1.0.6 version tonight and publish it with just this change so it gets available to you as soon as possible. I will put the pull request here as reference so you can see what was done for that code-wise.

Changing the size of the windows is kind of not easy to customize right now because I use the sizes and the vie

[2018-03-01 06:19] rpaschoal commented on #34
Hi @todd7,

I've just published 1.0.6 to NPM. You should be able to customize the search placeholder with the new setting. Here is an example:

```<ng-chat [searchPlaceholder]="'Buscar'"></ng-chat>```

If you want to have a look on how I've implemented these changes, just have a look on this pull request #35

This repository welcomes contributions from the community, but if you are planning on add

[2018-03-01 07:22] rpaschoal opened #37 "[Feature] Enable custom styles"
I am opening this issue to discuss on how to allow people who are using this component to style and change its looks.

This was already requested by different users on #29 and #34

At the moment, changing the size of the chat windows, friends list or the space between these elements is a challenge as their sizes are used to calculate how many windows can fit on each viewport, and the sizes are con

[2018-03-01 07:25] rpaschoal commented on #34
@todd7 I've opened #37 to discuss about how to add custom styles. If you're happy with the placeholder changes on 1.0.6 I'll be closing this issue.

[2018-03-01 07:26] rpaschoal commented on #29
Closing this issue as I am carrying over the discussion to #37

[2018-03-01 07:28] #29 closed

[2018-03-01 13:18] todd7 commented on #37
The chat is amazing! colors, fonts e sizes settings are interesting. If he had a way of leaving it open the same facebook chat

[2018-03-02 17:26] todd7 commented on #37
Hei, some property for status ???  To translate busy to portuguese and others status.

[2018-03-04 23:27] rpaschoal commented on #37
Good ideas @todd7, I will just have to investigate that a bit more, most likely I'll be doing the localization changes before the styling ones, but I will have to be releasing that as a new minor version as I'll be refactoring the settings (Want to pass that as an object instead of separate Input properties).

There is a few minor improvements I still want to do for 1.0.x, so this will have to wai

[2018-03-04 23:29] rpaschoal commented on #34
Closing this as the main issue was resolved on #35 and there is a new issue to discuss styles changes.

[2018-03-04 23:29] #34 closed

[2018-03-07 23:24] rpaschoal opened #38 "[CI] Code coverage not being reported after each successful build"
Code coverage used to be reported for ```ng test``` after each successful build as seen on #26

For some reason it has stopped to report even though the build and tests are still running on Travis.

This might be related to one of the changes included in #32 when ```--sourcemaps=false``` was added in order to fix an issue where the tests on Travis were failing.

[2018-03-07 23:31] rpaschoal opened #39 "[Feature] Add localization support"
A couple of ideas on this:

- Every label and text visible to users must be customizable
- Support/Use Angular's i18n localization
- Refactor existing properties for placeholders to be passed as an Object to reduce the number of Input parameters and increase extensibility
- Must be released within a new minor version

This was brought on #37

[2018-03-07 23:31] rpaschoal opened #40 "[Feature] Add localization support"
A couple of ideas on this:

- Every label and text visible to users must be customizable
- Support/Use Angular's i18n localization
- Refactor existing properties for placeholders to be passed as an Object to reduce the number of Input parameters and increase extensibility
- Must be released within a new minor version

This was brought on #37

[2018-03-10 20:17] Chriscxa opened #41 "[Feature] simple MEAN-sample"
add a simple example with express - backend.

Kind regards,
chris

[2018-03-10 20:18] Chriscxa commented on #41
found it :P

[2018-03-10 20:19] #41 closed

[2018-03-10 21:03] rpaschoal commented on #41
Leaving the link here in case anyone else needs it in the future: https://github.com/rpaschoal/ng-chat-nodejs

[2018-03-10 23:31] rpaschoal commented on #38
Code coverage seems so be working and reporting now after #42.

[2018-03-10 23:31] #38 closed

[2018-03-21 06:15] rpaschoal commented on #40
Work in progress and to be released in 1.0.8 (No need for a new minor version).

[2018-03-24 00:41] rpaschoal commented on #40
Not adding i18n support right now as it seems that it only works on static text at the current version. It seems there is some work going on to add a i18n translation service as seen here https://github.com/angular/angular/issues/11405

Added a ```Localization``` interface so people can fully customize the text in this component. All future text will have a property in this interface. This will re

[2018-03-26 01:40] rpaschoal commented on #37
@todd7 I've added full localization support on 1.0.8 which is now available on NPM.

[2018-03-26 01:40] rpaschoal commented on #40
Closing this as the related work was release on 1.0.8.

[2018-03-26 01:40] #40 closed

[2018-04-23 10:02] cprouveu opened #51 "message history"
Hello,

iIm trying to use your ng-chat on 42's school project but I can't understand how work the history chat by demo (offline chat).

I see history from id : 1 to id : 999 on every window.

Can you give me some help ?

Thanks.

[2018-04-24 00:36] rpaschoal commented on #51
Hi @cprouveu,

Sure thing! Could you please post your chat adapter code here?

Cheers!

[2018-04-24 05:38] cprouveu commented on #51
Just with your chat demo code i have this. I don t understand why i have the same history message on each windows while your demo code write 1 to 999. Normally it s just Aria who have the history.

[2018-04-24 12:07] cprouveu commented on #51
Thanks for your answer, i understand why all users send the same history.

[2018-04-24 12:07] #51 closed

[2018-05-24 13:07] prashantpimpale93 opened #52 "How to use or integrate this library with fire-base real time database"
I am using firebase real-time database for chat feature so how do I integrate this library with firebase.

[2018-05-24 14:46] prashantpimpale93 commented on #52
I manage to get the user list on the current UI
Here is the screenshot:
![success](https://user-images.githubusercontent.com/38237172/40492919-3cc69c3c-5f8f-11e8-8cd3-c6edb3d1a040.png)

Every response will be highly appreciated!

[2018-05-24 22:13] rpaschoal commented on #52
Hi @prashantpimpale93 ,

I have no experience using Firebase, but as long as you can implement your logic inside your ChatAdapter, you should manage to get the chat working as per your requirements.

On the NodeJS demo I have setup, you can check the message being broadcast to other users with Socket.IO. I believe you have to find a similar way of broadcasting your messages by using Firebase.

Hav

[2018-05-25 05:52] prashantpimpale93 commented on #52
Thanks for reply @rpaschoal. I have created one adapter (demo-adapter) in that I am writing my logic or firebase queries. But I want to modify that method which gets called on user click. I checked but need your help!

[2018-05-25 05:55] prashantpimpale93 commented on #52
Currently, I have developed the whole chat module with the help of Angular Material design and chat app and firebase queries are working fine on production but for UI this one is quite good and which I loved most.

[2018-05-25 12:06] prashantpimpale93 commented on #52
Can I use only HTML (UI part) of this library?

[2018-05-27 02:16] rpaschoal commented on #52
@prashantpimpale93 What would you like to do when a user gets clicked? Perhaps we can start creating events that you could potentially bind into this module.

[2018-05-28 04:26] rpaschoal commented on #52
@prashantpimpale93 This is a very good idea, would you please suggest a couple of events you would like to bind to?

EG: OnChatWindowOpened

We can elaborate a few and I will implement them for a next release 👍

[2018-05-28 08:57] rpaschoal commented on #52
@prashantpimpale93

1. This is already available on the ChatAdapter through the method `public abstract getMessageHistory(userId: any): Observable<Message[]>;`. This is invoked every time you click to open a window, just make sure you have the property `historyEnabled` enabled (Which is enabled by default).
2. This a great feature! I haven't thought of that before. Could you send a pull request wi

[2018-05-28 09:11] prashantpimpale93 commented on #52
Yes. Will look at getMessageHistory() Method

[2018-05-28 09:13] prashantpimpale93 commented on #52
For the second point:
I am new to GitHub, please define the set of the step (For pull or add code and then push) where I can implement the code in this library

[2018-05-28 09:14] prashantpimpale93 commented on #52
Ohh sorry I didn't see that shared link. Will check it out

[2018-05-28 10:59] prashantpimpale93 commented on #52
@rpaschoal Expect more detailed information to contribute.
1) Repository forked in my personal account
2) Then tried to clone using git clone https://github.com/YOUR-USERNAME/YOUR-REPOSITORY
But got an error:

[2018-05-29 01:05] rpaschoal commented on #52
@prashantpimpale93 Just had a look at your fork, your clone URL is: https://github.com/prashantpimpale93/ng-chat.git

[2018-05-29 05:54] prashantpimpale93 commented on #52
Got that! I was trying with userName and then repo URL. Successfully cloned.
Where do I implement notification code, In demo folder or in src folder?
Please share any document related to that contribute.

[2018-05-30 05:54] prashantpimpale93 commented on #52
@rpaschoal can u please suggest which dependencies are required to run the project? Ex. Angular version and other third-party dependencies etc. It would better for me if you list down the commands

[2018-05-30 06:29] rpaschoal commented on #52
@prashantpimpale93

All changes must go to the SRC directory, that is the core of the module. You should have everything you need from NPM dependency wise.

If you're not comfortable with doing the change, I can do it. Just list your main ideas here and I will work them out as soon as I have a spare time. I can then show you the pull request with the changes so you can grasp the idea around develo

[2018-06-02 03:03] rpaschoal commented on #52
@prashantpimpale93 I've started working on the browser notifications. I will be releasing version `1.0.11` in the following days and it will include both notification and event features that you have suggested.

Have a look at the following commit to see how I usually add features to this chat module:

https://github.com/rpaschoal/ng-chat/commit/afee655c2937fae2b488a5c66bc3602ea66c1233

Bits of co

[2018-06-02 06:51] prashantpimpale93 commented on #52
@rpaschoal I am stuck at one problem. I have asked one question in StackOverflow Here is the link to the question - [https://stackoverflow.com/questions/50654263/unable-to-bind-data-to-the-list](url)

Please look once n get back to me if you're familier with this.

[2018-06-04 04:09] rpaschoal commented on #52
@prashantpimpale93 I think there is something wrong with the link you've posted.

Version `1.0.11` is almost ready, have implemented the changes and ideas we have discussed, added unit tests and updated the docs. I just have to do a bit of smoke testing before releasing it to NPM.

Have a look at the events that will be exposed in the new version:

# **Events**

**(onUserChatClicked):** Event emit

[2018-06-04 04:15] rpaschoal commented on #52
Hmm, looking at this event list, I might refactor the name of the first event to `onUserClicked`

[2018-06-04 04:21] prashantpimpale93 commented on #52
Thanks a lot!!! The problem is the method getmessagehistory() returns an
observable of message in that method I m calling my firebase api which is
aync call hence the control is already gets returned before firebase data
load.

On 4 Jun 2018 9:45 a.m., "Rafael Carvalho" <notifications@github.com> wrote:

[2018-06-04 07:05] rpaschoal commented on #52
@prashantpimpale93 Can't you just return an Observable from your Firebase call? Just wrap it inside an Observable.

I'll most likely release `1.0.11` tomorrow by the way.

[2018-06-04 07:16] prashantpimpale93 commented on #52
Yes. I have tried out that also but some configuration or due to
dependencies that is not working. Do you have any friend who has worked on
firebase?

Thanks & Regards,
Prashant Pimpale

"This e-mail and any attached documents may contain confidential or
proprietary information. If you are not the intended recipient, you are
notified that any dissemination, copying of this e-mail and any attachmen

[2018-06-04 07:41] rpaschoal commented on #52
I know a few @prashantpimpale93, but they are busy professionals. If you have a Firebase related question, I would advise you to post it on StackOverflow.

`1.0.12` is now published on NPM: https://www.npmjs.com/package/ng-chat

Have a look at the new features that you've suggested. Thank you for the ideas.

I am closing this issue as the thread has gone too long and we have deviated from the main

[2018-06-04 07:41] #52 closed

[2018-06-04 07:45] prashantpimpale93 commented on #52
Ok thanks for your help @rpaschoal!

[2018-06-04 15:37] prashantpimpale93 opened #55 "Not supported for group chat"
Hi @rpaschoal,

It was nice to use your library, which is the perfect fine for P2P chat but as came across Group chat this is not working or do I need to do some additional settings in Adapter.

Will love to listen from you!

[2018-06-04 23:39] rpaschoal commented on #55
Hi @prashantpimpale93

I am glad you enjoyed it so far. Group chat is not an available feature of this module, it would have to be implemented from scratch.

Could you list or describe a bit more in detail your requirements for Groups?

Cheers!

[2018-06-05 05:31] prashantpimpale93 commented on #55
@rpaschoal

My requirement - Chat in One to many relationship for ex. User (Who is sender) who is sending message his/her message should be keep to right side other than this should be to right no matter who user is who is other end.

Description - User Id [143] who is sending message to every user so when I clicked on user (List of friends) I called my firebase query (We have design our firebase

[2018-06-06 18:58] todd7 opened #56 "Minimize Chat"
Hello @rpaschoal

This chat is amazing.
Would it be possible for the chat to start minimize?

[2018-06-07 00:37] rpaschoal commented on #56
Hi @todd7 ,

Thanks, I am glad you find it amazing!

Yes, that is possible and it is a current feature. If you want the `Friends` list to start minimized, all you have to do is set the property `isCollapsed` to true.

EG: `<ng-chat OtherSettings... [isCollapsed]="true"></ng-chat>`

The chat stores the state of open windows onto the browser's local storage. This is enabled by default, and if the us

[2018-06-07 05:17] rpaschoal commented on #55
@prashantpimpale93 Are you using a group as an user in your ng-chat implementation?

Groups is not a feature at the moment, it is a nice addition but would take a while to implement it. I am wondering if you could get around with your API returning groups as users.

[2018-06-07 06:37] prashantpimpale93 commented on #55
@rpaschoal Take your own time. I also started working on this feature in forked repo (But it will take time) but if you can implement this feature on priority then this library will become power packed with all feature. I have searched on the internet but not a single library which I found like your's.

[2018-06-07 06:48] prashantpimpale93 commented on #55
@rpaschoal One more thing that I would like to discuss:

For temporary purpose have used UI part of library (As group chat is on priority for my)
In my component ts file have used list which is two day data binding but whenever I clicked on new user the new window gets created but the data or message list is synced with all open windows.
For ex:
If I clicked on user1  --> message list is loaded fr

[2018-06-08 12:29] todd7 commented on #56
Hi @rpaschoal, helped me a lot, thanks !!!

[2018-06-25 12:56] joselvb opened #57 "Error on emitBrowserNotification"
An error is occurring in the `emitBrowserNotification ` function that is caused by attempting to access the empty message array.

`let message = window.messages[window.messages.length - 1].message;`

I noticed this happens when I send a new message to a user I did not talk to earlier or when I start a new conversation.

[2018-06-25 13:23] joselvb opened #58 "New options"
I would like to give some suggestions for improvements to the component.

There could be a property on the user to populate with an unread message counter and appear in the contact list, just as it appears in the title of a window when it is not in focus.

You might also have an option not to open the window automatically when you receive a message. For example, I send a message to a certain user

[2018-06-26 00:28] rpaschoal commented on #57
Hi @joselvb,

Thank you for reporting this issue.

For now, as a workaround, I would advise you to turn off the browser notifications by setting the property `browserNotificationsEnabled` to false.

I'll be working on a fix for this in a new release. Just give me a few days. If you're comfortable in implementing the fix yourself and sending the pull request here, please advise and I'll let you wor

[2018-06-26 00:28] rpaschoal commented on #56
I am closing this as @todd7 questions were answered.

[2018-06-26 00:28] #56 closed

[2018-06-26 00:31] rpaschoal commented on #58
Hi @joselvb,

Thank you for the suggestions, always nice to hear from the community!

I will work on these along with the bug that you've found and reported here #57

If you've got any more suggestions, just post them here :)

Cheers!

[2018-07-02 09:58] aaithu-pk opened #59 "error TS2307: Cannot find module 'my-adapter'"

[2018-07-03 00:06] rpaschoal commented on #59
Hi @aaithu-pk ,

Would you mind providing more details on your question/error?

Please follow the troubleshooting guidelines that can be found on the main README.

[2018-07-03 05:01] aaithu-pk commented on #59
Just I want to know how to write myadapter

[2018-07-03 19:19] rpaschoal commented on #59
Hi @aaithu-pk , have you read the README? There is a thorough walk-through on that written there.

If you can provide more details or even the code you're working around with, perhaps I can help you more with that.

Cheers!

[2018-07-05 02:37] sprakash1993 opened #60 "Responsive Chat window"
It was nice to use the library. It works great.

In the lower resolution (for mobile or ipad), the chat window is not visible. Is there a way to make it responsive so that it works for lower resolution as well ?

Thanks

[2018-07-05 21:32] rpaschoal commented on #60
Hi @sprakash1993 ,

I am glad you like the library!

That is by design, if you don't have enough space to see at least one window, the user experience would be degraded and that is why the component is not shown.

My advice for you would be to use another message exchange page within your application, something more mobile friendly.

Welcome to suggestions though, if you come up with an idea that

[2018-07-06 05:43] rpaschoal commented on #57
Hi @joselvb,

The bug was happening because a message that is received when you have the history mode enabled is not pushed to the messages array of the window (This is to avoid the message being duplicate as you would have it saved in your data storage already in your back-end).

The fix was fairly simple, just pass the message received on `onMessageReceived` to `emitBrowserNotification`.

Here i

[2018-07-06 11:31] joselvb commented on #57
Hello @rpaschoal,

Thank you very much for the correction.

I'll wait for the next release to update. For now I've disabled the notifications option.

[2018-07-08 03:13] rpaschoal commented on #58
Hi @joselvb,

I have added the total messages counter to the friends list on this commit: https://github.com/rpaschoal/ng-chat/commit/850e1dde3b0b8b7e2e09ef33a5bfb2338fd14d65

In regards to the behavior of new messages, I will add just a setting to open a new window but minimized (EG: `maximizeWindowOnNewMessage` or similar). I was considering adding multiple behaviors but the way the component is

[2018-07-09 05:56] rpaschoal commented on #57
Hi @joselvb ,

`1.0.13` is now on NPM! 🎉

Here is the release notes https://github.com/rpaschoal/ng-chat/releases/tag/1.0.13

Thank you for reporting this issue. I will close it as it is now fixed on `1.0.13`.

[2018-07-09 05:56] #57 closed

[2018-07-09 05:58] rpaschoal commented on #58
Hi @joselvb ,

The suggested features are now available on NPM with version `1.0.13`. Check out the release notes: https://github.com/rpaschoal/ng-chat/releases/tag/1.0.13

Looking forward to hearing what you think of the new features.

Cheers!

[2018-07-10 05:14] #59 closed

[2018-07-10 14:09] joselvb commented on #58
Thanks for the changes.

I updated the project with the latest release and everything is working correctly.

I would like to make two points for improvement:

1. You could have a new property in the User class so that we can fill in the amount of unread messages when you load the API contact list for the first time, so that the user can see the contacts who sent you messages while he was offline.

[2018-07-12 00:21] rpaschoal commented on #58
Hi @joselvb ,

Great suggestions, do you think you would be able to work on them and contribute to the project?

Have a look at the contributing guidelines https://github.com/rpaschoal/ng-chat/blob/master/CONTRIBUTING.md

[2018-07-15 19:15] LuisReinoso commented on #58
Hi! I could contribute for browser notification message but I think it's useful implement it in two ways.

1. Using Localization interface.
2. Through @input().

Variable name:  messageBrowserNotification
It's ok?

[2018-07-15 21:16] rpaschoal commented on #58
Sure thing @LuisReinoso , just get a pull request for that and if I spot anything that might be worth a refactory I will add some review comments.

`Variable name: messageBrowserNotification` This term does not sound very natural in English, it will be better if we name it as `browserNotificationTitle` if you are referring to the message's title.

Looking forward to seeing your PR here @LuisReinos

[2018-07-17 07:40] TarnjeetIron opened #62 "How to upload a image and send as a message?"
I am working on angular 6 app and I want to send a image/Doc as a message into chat. Can you please explain how to make it possible?

[2018-07-17 21:10] rpaschoal commented on #62
Hi @TarnjeetIron,

This is not yet a feature of ng-chat. I am planning to implement this at some stage, but so far you are first user to request it.

What is your deadline on implementing this feature on your project?

Cheers!

[2018-07-19 20:42] LuisReinoso commented on #58
It's ok. Please review my PR.
An observation: Could you format the source code because it has some white space additionally I had some problems to run tests.
Could you be more specific in the [CONTRIBUTING.md](https://github.com/rpaschoal/ng-chat/blob/master/CONTRIBUTING.md) for the execution of the tests.?

[2018-07-23 07:19] rpaschoal commented on #58
Hi @LuisReinoso,

I've just merged your PR to branch `1.0.14` for a new release. Have a look at the branch and latest commits, including the ones you have worked on https://github.com/rpaschoal/ng-chat/tree/1.0.14

I have refactored the unit tests a bit, I've found something that was causing a few of them to fail, it should be all good from now on.

Do you have any other options or new small featu

[2018-07-23 17:52] LuisReinoso commented on #58
For now I think that would be all for `1.0.14`.

[2018-07-24 06:34] rpaschoal commented on #58
I am closing this as I've just published https://github.com/rpaschoal/ng-chat/releases/tag/1.0.14 and the initial suggestions were implemented on https://github.com/rpaschoal/ng-chat/releases/tag/1.0.13.

[2018-07-24 06:34] #58 closed

[2018-07-25 17:06] shaychoo opened #65 "[Feature] Enable customisation"
this project is grate!
i'd miss some customisation options:

- hide the search input
- hide the friends list and pop chat window by click on icon e.g in HelpDesk support chat

[2018-07-28 17:44] arulananth commented on #55
HI  All

I done the group chat.
Chatadapter do follow the changes
listFriends(): Observable<User[]> {
return  this.API.get("friends/me",{userId:this.userId},true)
        .map(res=>{

           for(let e of res)
           {
            let userGet=this.setName(e.from_id,e.to_id);
            e.id=userGet.id+"-"+e._id;
            e.displayName=userGet.name+"["+e.customer.sub_property_type+"]";

[2018-07-29 21:31] rpaschoal commented on #55
Hi @arulananth ,

Great news, would you be able to push a demo to this repository so other people can refer to it? I belive this will have a lot of people that want to use it for groups too.

There is a `demo` folder with different adapter implementations, would be nice to have a group one there if possible.

Cheers!

[2018-07-29 21:33] rpaschoal commented on #65
Hi @shaychoo ,

I am glad you like it!

Some of the suggested items I already had in mind, like popping the window to a draggable chat window on the viewport. Haven't found the time to implement it yet.

About hiding the friends list, do you mean minimizing it? If so, that is already a feature, all you have to do is click on its title.

[2018-08-01 21:12] rpaschoal commented on #65
Hi @krytthew,

This is not a feature at the moment as you've mentioned, but we can implement it for sure, I am sure it will be helpful for other people in the future too. We could add command events to open, close and minimize a window from outside the module.

Would you be able to implement it and send a PR? Otherwise I can do it, but it might take a while for me to push the changes as I am quite

[2018-08-04 11:51] rmussabayev opened #66 "How to get unread messages amount on chat initialization"
Hi, Rafael!
The chat is really great, thank you! I'd like to use it within my application, but I have a couple of questions.
1. We have listFriends() and getMessageHistory(userId) methods. First one will be invoked on chat initialization giving us an array of users available to talk with and the second is invoked when the chat window is opened. What if user has received a message while being offli

[2018-08-04 23:14] rpaschoal commented on #66
Hey @rmussabayev ,

I am glad you like the chat! Comments like yours give me a confidence boost to keep on adding features to this component 😸

1. This is a very interesting question, makes me think if we need to update the adapter workflow. For this scenario, what if you do the heavy lifting on your back-end and just push the notifications to your socket/hub (I am assuming you are using socket.io

[2018-08-05 19:11] rmussabayev commented on #66
Hi Raphael!
Thanks for the fast reply.
Seems like your suggestion to move the notification logic to the back-end is more accurate than mine and I will try to implement this workaround your way.  Well, I also think that it will be annoying for the user to have a lot of windows popping up after login, but I just can't see how this issue can be bypassed with the current implementation. No matter how

[2018-08-27 06:43] rpaschoal commented on #65
Hi @krytthew,

Haven't heard back from you on this, but just to keep you and everyone else that might end up in this issue updated, `1.0.15` has just been released and this can be done in a better way.

Just check out the instructions in the main README on how to use `IChatController` for triggering actions outside of ng-chat.

Closing this issue as it is now officially supported and documented.

[2018-08-27 06:43] #65 closed

[2018-08-27 06:44] #60 closed

[2018-09-13 11:15] adnanrafique opened #70 "Why is there no Picture of Cersei Lannister in the demo?"
Why would you do this to her?

[2018-09-13 21:53] rpaschoal commented on #70
Hi @adnanrafique ,

Yes, it is a bit unfair to her, but the reason I did it is to show the default avatar icon.

Cheers! 🤣

[2018-09-22 08:15] LuisReinoso opened #71 "Error on tap(click) on chat user name listmobile view. Mobile compatibility"
I'm try to open a chat when tap(click) on name of user chat, in google chrome's mobile view and google chrome mobile, and return an error "Cannot read property 'nativeElement' of undefined".

I search in your code and error occurs in [line 378 - ng-chat.component.ts](https://github.com/rpaschoal/ng-chat/blob/292c4cedba320be096a7bdcb251fa6a06157c0ca/src/ng-chat/ng-chat.component.ts#L378)

The tap(c

[2018-09-22 08:46] rpaschoal commented on #71
Hi @LuisReinoso ,

I've just tried to reproduce it on the demo site and I can't. Could you please confirm if it happens to you on demo?

I've been considering hiding the friends list if there is no viewport space to display at least one chat window.

Is that a big issue for you at the moment? I can add that to the queue for next release. We've got a few things planned to be implemented, I could ad

[2018-09-22 17:37] LuisReinoso commented on #71
I try to reproduce it in the live demo web page but not return any error.

This would be a nice feature.

I recorded my screen to you look the error: https://gifyu.com/image/NvBL. So isn't a big issue for me.
What configuration of component will produce this error on my own implementation.

[2018-10-02 00:27] repdom commented on #62
Actually I have the same issue. How can I implement it?

[2018-10-02 01:20] rpaschoal commented on #62
Hi @repdom ,

This is not supported at the moment but it seems to be building up of people who needs this feature.

PR #69 is something I need to address first as a major refactory. I will keep you all posted here with an ETA for the file upload feature. I suggest whoever is interested in this feature sign up to this topic and post a "+1" message here requesting it.

Cheers!

[2018-10-04 00:21] FShieldheart opened #72 "Unseen Messages Trigger"
Hello There,

Thanks for the great chat application, helps me a lot. I would like to talk about a strange behavior. I do not know if it is just for me or if it is a normal one but here it is:

When a user received a message from another user (both of them are online), the receiver has a pop up opened for the new message. Everything is great up to this. But, onMessagesSeen method (I am using it for

[2018-10-04 02:45] rpaschoal commented on #72
Hi @FShieldheart ,

Glad to know the application is useful to you! 😸

This might be a bug. Would you be able to get some minimal code running somewhere displaying this behavior so I can have a look?

Cheers!

[2018-10-04 02:47] rpaschoal commented on #71
Hi @LuisReinoso ,

This looks strange. I will implement the feature I've mentioned above in the next release so it shouldn't be a big issue for you in the future.

I will leave this thread open and update you as soon as a new version is released.

Cheers!

[2018-10-05 17:04] ajaynshd commented on #62
Hi
Please add this feature to next release. I am also waiting for this.

[2018-10-05 17:04] ajaynshd commented on #71
Hi
Please add this feature to next release. I am also waiting for this.

[2018-10-05 17:05] ajaynshd commented on #71
Hi @rpaschoal
Please add this feature to next release. I am also waiting for this.

[2018-10-11 10:42] Magneto2018 opened #73 "send Attachments, links or images"
Could you please add the functionality to send image, link or some attachment.
Thanks

[2018-10-11 20:11] rpaschoal commented on #73
Hi @Magneto2018 ,

Links are already supported and converted automatically to hyper links when pasted and sent.

Attaching and sending files is upcoming on the next release and it will be the foundation for sending and previewing images (You will be able to send an image on the next version but it will go as a file attachment).

Cheers!

[2018-10-12 05:46] Magneto2018 opened #74 "Show the message date and time"
Show the message date and time in messages history.

[2018-10-13 23:37] rpaschoal commented on #72
Hello again @FShieldheart ,

I can confirm this is a bug and I've just fixed it for the next release on this commit: https://github.com/rpaschoal/ng-chat/commit/e1a2a1bc77232185a5f0cdd03b19a44724f00513

I'll leave the issue open and update you as soon as the new release with the fix is on NPM.

Cheers!

[2018-10-14 00:06] rpaschoal commented on #71
Hi @LuisReinoso and @ajaynshd

Just updating you guys on this. I've got the fix for this but haven't release yet. There is a bunch of things that will come on next release including being able to upload files.

You can check the progress here https://github.com/rpaschoal/ng-chat/compare/development?expand=1

I'll keep this issue opened and let you know when the new release is out.

Cheers.

[2018-10-14 00:41] FShieldheart commented on #72
Hello @rpaschoal!

First of all, I am very sorry for not supplying you with the demonstration of the bug but I was on a very tight schedule. The main system is in a closed environment so I did not have the chance to supply you a real-world demonstration either. Again, sorry for that.

I would like to thank you for fixing the bug as your component is an important part of the system I was talking ab

[2018-10-14 00:47] rpaschoal commented on #72
No worries @FShieldheart! Make sure you keep an eye on this issue as I will update you here when the new release is out, cheers!

[2018-10-14 13:00] MuhammadRizwanBashir commented on #72
How i can get call when **onMessagesSeen** event triggered. how to implement this in my adapter or component, any sample code.(i want to mark them read in my database).
thanks in advance.

[2018-10-14 20:20] rpaschoal opened #75 "How to use **onMessagesSeen** event to mark messages as read on my database"
Moving this to a new issue as we can discuss it further here and within context:

How i can get call when onMessagesSeen event triggered. how to implement this in my adapter or component, any sample code.(i want to mark them read in my database).
thanks in advance.

_Originally posted by @MuhammadRizwanBashir in https://github.com/rpaschoal/ng-chat/issues/72#issuecomment-429624551_

[2018-10-15 06:59] Magneto2018 opened #76 "Errors onMessageReceived when user chat window is closed"
I was testing the chat and got errors.
this happens when chat windows are closed and some one messaged you and window automatically opens with errors. if you have already opened the chat window for the user who is messaging you will not get error. if you get error on above situation you will always get error on **onMessageSeen** event.

[2018-10-15 21:30] rpaschoal commented on #76
Hi @Magneto2018 ,

Would you be able to provide more details on the error message?

[2018-10-16 05:46] Magneto2018 commented on #76
![image](https://user-images.githubusercontent.com/36952430/46994958-0b1ebf80-d130-11e8-9ace-ee84e0eee630.png)

please see the attached screenshot, i think it is on messages parsing. maybe messages list is not correct or something else.

![image](https://user-images.githubusercontent.com/36952430/46995011-4de09780-d130-11e8-9dee-b7b6bf8b61bd.png)

![image](https://user-images.githubusercontent.com

[2018-10-16 05:47] Magneto2018 commented on #76
in the above screenshot (last one) see the chat window status is not there for user.

[2018-10-16 06:17] rpaschoal commented on #76
Hi @Magneto2018 ,

I've got a fix for "Cannot read property 'message' of undefined" on this commit: https://github.com/rpaschoal/ng-chat/commit/2f1f88ee0750471f87baba118cdb40af71d77975

Not sure on the other error, are you using a custom localization object?

[2018-10-16 06:19] Magneto2018 commented on #76
Nope i am not using localization.

[2018-10-23 19:36] davidalisson opened #77 "Open chat window from a button"
Hi, i need to open a chat window from a button, without friends bar, how can i do it? Friends bar needs to be not visible.

Chat button:
https://ibb.co/fvtx6V

[2018-10-23 23:31] rpaschoal commented on #77
Hi @davidalisson ,

You can open a chat window from anywhere on your Angular application using the `IChatController` interface. Please refer to the docs here https://github.com/rpaschoal/ng-chat#triggering-ng-chat-actions-from-elsewhere

Let me know if this helped you.

Cheers!

[2018-10-29 21:36] rpaschoal commented on #72
@FShieldheart I've just released version 1.1.0 with bug fixes I believe are related to this. Would you be able to test it again and confirm if this is still an issue? Cheers!

[2018-10-29 21:37] rpaschoal commented on #71
Hi @LuisReinoso and @ajaynshd ,

I've just released 1.1.0 today and this is included. The friends list does not render if there isn't enough space for at least one chat window to be opened.

This behavior can be overridden using the `hideFriendsListOnUnsupportedViewport` which defaults to true at the moment.

[2018-10-29 21:37] #71 closed

[2018-10-29 21:39] FShieldheart commented on #72
@rpaschoal Thank you very much! I will try and report to you back as soon as possible!

[2018-10-29 21:47] rpaschoal commented on #76
Hi @Magneto2018 ,

I've just released 1.1.0 and I believe it fixes this. Would you be able to test it against 1.1.0 and let me know if this is fixed? Cheers!

[2018-10-29 21:50] FShieldheart commented on #72
@MuhammadRizwanBashir Here what I did in my project. I wrote a service and injected into my component which has the "onMessagesSeen" method. This service uses an API to persist unread messages as read in the data store. Also, the same API sends a signal to the receiver via SignalR upon successful completion of the transaction so that sender is notified of the messages which have read (assuming sen

[2018-10-29 21:50] rpaschoal commented on #73
Hi @Magneto2018 ,

I've just released 1.1.0 and it now supports the upload of files. I've added instructions on how to implement it on the [`README.md`](https://github.com/rpaschoal/ng-chat) file.

You can also check a sample implementation on the [ng-chat-nodejs](https://github.com/rpaschoal/ng-chat-nodejs) project

Let me know what you think of this recently implemented feature and if it is work

[2018-10-29 21:51] rpaschoal commented on #62
Hi @TarnjeetIron, @repdom and @ajaynshd

I've just released 1.1.0 and it now supports the upload of files. I've added instructions on how to implement it on the [`README.md`](https://github.com/rpaschoal/ng-chat) file.

You can also check a sample implementation on the [ng-chat-nodejs](https://github.com/rpaschoal/ng-chat-nodejs) project

Let me know what you think of this recently implemented fea

[2018-10-29 21:58] rpaschoal commented on #72
Thanks for the info @FShieldheart , will paste your message at the other issue I raised on this topic #75

[2018-10-29 21:59] rpaschoal commented on #75
Some instructions on this shared by @FShieldheart on #72

Here what I did in my project. I wrote a service and injected into my component which has the "onMessagesSeen" method. This service uses an API to persist unread messages as read in the data store. Also, the same API sends a signal to the receiver via SignalR upon successful completion of the transaction so that sender is notified of the me

[2018-10-30 11:04] Magneto2018 commented on #73
i can't see option to send attachment in chat window. and also unable to import "PagedHistoryChatAdapter", do i have to drag drop or there would be some icon? i can see in package there is "PagedHistoryChatAdapter" but i can't import it, it gives error.

[2018-10-30 11:16] Magneto2018 commented on #76
Hi @rpaschoal  one error is fixed which one you mentioned, "Cannot read property 'message' of undefined" but the other one is still there, status.tostring is undefined. maybe my user object doesn't have status property but this should not happen, let me check and update here.

[2018-10-30 15:06] davidalisson commented on #77
Hi, @rpaschoal. Thanks for responding. I tried with IChatController and it worked, but I need to hide the friendlist window, because the user can only open the chat by button.

[2018-10-30 23:06] rpaschoal commented on #77
Hi @davidalisson ,

If you want to hide the whole ng-chat component you could just add a `*ngIf` to hide it based on your requirements, but I believe this might no be what you're after.

Do you want to use ng-chat only with the chat windows visible and have the friends list always hidden? If that is the case this will have to be implemented. There is a few viewport calculations that will have to b

[2018-10-31 13:04] davidalisson commented on #77
I tried using *ngIf, but when I do this, I couldn't open the chat window from IChatController

The scenario is the following way: For each service I can have a different client, so I need the application to have a chat button for each service. The user can see the services that the clients requested and contact the client via chat if necessary.

I need only chat window to be visible and the friend

[2018-10-31 18:58] rpaschoal commented on #77
I see, the reason you can't open it via `IChatController` using `*ngIf` is because the whole component is not rendered which is clearly not what you want.

Having just the chat windows visible is not supported at the moment but I can release a patch version with this. I will see if I find a spare time during the weekend.

What is your timeline for having this feature available on your software? Ch

[2018-11-01 14:48] davidalisson commented on #77
Very nice.. This is not a priority. I have other priorities to do. I'm gonna wait your feedback.
Thanks for your support. Cheers!

[2018-11-02 01:48] rpaschoal commented on #75
Hi @MuhammadRizwanBashir,

Have you managed to get this working?

[2018-11-02 01:49] rpaschoal commented on #72
Hi @FShieldheart ,

Any updates on this?

[2018-11-02 04:27] Timur15031998 opened #80 "The possibility of opening a chat on the mobile version of the site"
Please consider the option of using chat on mobile devices. Since at the moment, as flat because of the lack of space (interface) there is no possibility to correspond. Only a window with a list of users is available, then the chat window does not open. More precisely, it does not respond to the choice of the user with whom they would like to exchange messages. I think you have ideas for this.
 An

[2018-11-02 23:01] rpaschoal commented on #77
Hi @davidalisson ,

I've just released version `1.1.1` with the changes included by this pull request #81

You can now use ng-chat without a friends list. To do so you have to disable the friends list by using the following input argument: `[hideFriendsList]="false"`

Let me know if this works for you. I'll close the issue if you're happy with the changes. Cheers!

[2018-11-06 15:03] davidalisson commented on #77
Hi @rpaschoal,
I'm trying to install the new component version but it's crashing.
Screenshots:
[Img1](https://ibb.co/g7AJTV)
[Img2](https://ibb.co/cj3GFA)
[Img3](https://ibb.co/hfeOvA)

[2018-11-06 19:22] kallklen opened #82 "ng build --prod error"
Hi,
When I try to run the "ng build --prod" command, it returns the error:

ERROR in node_modules\ng-chat\ng-chat.d.ts.ɵa.html(2,25): : Property 'unsupportedViewport' is protected and only accessible within class 'NgChat' and its subclasses.

"ng build" works fine.

[2018-11-07 00:58] rpaschoal commented on #82
Hi @kallklen,

Thank you for reporting this. I will have a look into it, but just out of curiosity, do you need to compile TS under node_modules? Wouldn't you rather just use the compiled version that is distributed?

What version of typescript do you have?

[2018-11-07 01:02] rpaschoal commented on #77
Hi @davidalisson ,

What version of typescript are you using?

[2018-11-07 02:40] davidalisson commented on #77
I'm using the latest version of typescript (3.1.6)

[2018-11-07 05:33] rpaschoal commented on #77
Thanks for pointing it out @davidalisson , I was using an older version of typescript... I will be updating a bunch of packages on this project to the latest versions and publish 1.1.2. Will let you know when this is done.

Meanwhile if you want to pass your build, just these:

`setTimeout(this.onFetchMessageHistoryLoaded(result, window, direction, true));`
`setTimeout(this.onFetchMessageHistoryLo

[2018-11-07 05:51] rpaschoal commented on #82
Hi @kallklen ,

Just an update on this... It seems that JIT compilation allows private/protected to be accessed on the template. This is not the case with AOT as it relies on Typescript itself and not on transpilation.

I will be working on a patch for this and releasing soon. I will update you as soon as the new patched version is available.

Cheers!

[2018-11-07 13:43] surya0809 commented on #77
Hi, I am getting a 'Module build failed' error when I try to include the module in my project. I am attaching a screenshot of the error for your reference.

<img width="1680" alt="screen shot 2018-11-07 at 3 38 07 pm" src="https://user-images.githubusercontent.com/20340431/48134709-ca464080-e2c0-11e8-844b-ccf33a35ff03.png">

Version information -
Angular CLI: 6.1.4
Node: 8.11.4
OS: darwin x64
Angu

[2018-11-08 07:33] rpaschoal commented on #82
Hi @kallklen ,

Thanks for pointing this out. I've deprecated `1.1.1` on NPM and released `1.1.2`. Could you please check if it is working now for you?

I still have my PR open here as I have to upgrade the CLI for the tests, but I've managed to run it locally using the old CLI and they've all passed hence why I've already published it to NPM as `1.1.1` was broken.

Please let me know if your issu

[2018-11-08 07:34] rpaschoal commented on #77
Hi @davidalisson and @surya0809 ,

Thank you for pointing out the issues. I've pushed a wrongly packaged distribution version as `1.1.1`. I've now deprecated it on NPM and pushed `1.1.2` which should include fixes for everything reported here.

I still have my PR open here as I have to upgrade the CLI for the tests, but I've managed to run it locally using the old CLI and they've all passed hence

[2018-11-08 12:00] kallklen commented on #82
Hi @rpaschoal,

It works now, thanks for the quick response.

Cheers!

[2018-11-08 12:55] surya0809 commented on #77
Works brilliantly. Thank you so much for the prompt response!!! 😁

[2018-11-08 20:18] rpaschoal commented on #77
I'm closing this as all requested changes and bugs have been implemented and fixed.

[2018-11-08 20:18] #77 closed

[2018-11-08 20:19] rpaschoal commented on #82
No worries @kallklen! Closing this issue as it has been fixed.

[2018-11-08 20:19] #82 closed

[2018-11-08 20:20] rpaschoal commented on #73
I'm closing this issue as the requested feature has been implemented and released.

[2018-11-08 20:20] #73 closed

[2018-11-08 20:20] rpaschoal commented on #62
I'm closing this issue as the requested feature has been implemented and released.

[2018-11-08 20:20] #62 closed

[2018-11-08 20:21] rpaschoal commented on #72
@FShieldheart Closing this as I haven't heard back from you and the fix has been released. Feel free to reopen the issue if it is still happening.

[2018-11-08 20:21] #72 closed

[2018-11-14 21:41] davidalisson opened #84 "Get message using onMessageReceived"
Hi,
I use in my project two chats, one for mobile app and one for web application (ng-chat). I need to the user receive a push notification on webapp when a client send a message.

I'm using Firebase RealTime Database for storage chat messages. I can get and send messages but I can't receive push notification when the mobile user send message to webapp user

[2018-11-19 06:59] rpaschoal commented on #37
I've just shipped 1.2.0 with support for custom themes and a new dark theme 🎉

As mentioned in the readme:

[customTheme]{string}: Source URL of the stylesheet asset to use for custom CSS styles. Works with assets relative to the project using ng-chat.

To implement your custom themes you can check these assets:

https://github.com/rpaschoal/ng-chat/blob/master/src/ng-chat/assets/themes/ng-chat.th

[2018-11-19 18:14] davidalisson commented on #84
Hi @rpaschoal,
I can send and receive messages, I can also get them using `getMessageHistory` but I can't show a new message received instantly, I need to close the chat window and open it again to a new message sent by client appears.  I'm not using back-end to send and receive messages, I do this only on the front-end.
If nessessary I can show my adapter.

[2018-11-19 20:17] rpaschoal commented on #84
It might be just your adapter implementation @davidalisson

Before you post your adapter here as this might be sensitive information, have you had the chance to have a look at this project? It is a nodejs + ng-chat sample: https://github.com/rpaschoal/ng-chat-nodejs

If you run this project locally you can open 2 different browser sessions and send and receive messages across. Have a look at the a

[2018-11-21 06:10] #76 closed

[2018-11-21 06:10] #75 closed

[2018-11-23 17:17] davidalisson commented on #84
Hi @rpaschoal, can you put this sample in demo folder of the project? This content helped me a lot and can help another devs. Anyway, thanks for supporting me on this! Any doubt I'll be here again :rofl:

[2018-11-23 17:30] rpaschoal commented on #84
Hi @davidalisson ,

Happy to know that you've managed to sort it out 🎉

The link to the NodeJS example is right at the top of the README 😅

[2018-11-23 17:30] #84 closed

[2018-11-28 21:18] aslansservant42 opened #86 "NOOB, how to build ng-chat"
Hi,
I am relatively new to Angular so please excuse the stupid question but I really want to contribute to your excellent project. I have quite a bit of experience writing chat bots and chat end points and want to add the ability to do "quick responses" if the client is talking to a bot. I cannot use your component as-is because Angular strips the button tags and the "onClick=" from the Message.me

[2018-11-28 23:04] aslansservant42 commented on #86
backed up and tried to use offline-bot as described in

did npm install on offline bot then tried npm run start and got:

Could not find module "@angular-devkit/build-angular" from "C:\\development\\src\\ChatBots\\AngularClient\\ng-chat\\dem
\\offline_bot".
Error: Could not find module "@angular-devkit/build-angular" from "C:\\development\\src\\ChatBots\\AngularClient\\ng-ch
t\\demo\\offline_bot".

[2018-11-29 00:16] rpaschoal commented on #86
Hi Stephen,

Thank you for your interest in contributing to the project, much appreciated.

The distribution package is located under `src` but as a test for now, could you just try serving the Angular offline bot project? Don't try to do a NPM link, just clone the repository and try to `ng serve` it without a link so ng-chat can be pulled from NPM. If we get this working, at least we know you can

[2018-11-30 00:08] rpaschoal commented on #86
Hmm, that sounds weird... I usually just do a NPM install and then ng serve --open

Could you try with branch 1.3.0 as this is the one I am using atm for developing new features?

[2018-11-30 03:05] aslansservant42 commented on #86
that is the branch I am using.

[2018-11-30 03:51] rpaschoal commented on #86
Hi @aslansservant42 ,

I've found out the reason. I've upgraded the version of the CLI using `ng update @angular/cli` but that didn't add a dev dependency that is now required on newer versions of Angular which is `@angular-devkit/build-angular`

For now just run `npm install --save-dev @angular-devkit/build-angular` on the demo/offline_bot folder and after that you should be able to run that proj

[2018-11-30 19:30] aslansservant42 commented on #86
using master branch
C:\development\src\ChatBots\AngularClient\ng-chat\demo\offline_bot>ng serve --open
** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **

Date: 2018-11-30T19:28:26.727Z
Hash: 63d25316fea2d28c5cdb
Time: 8135ms
chunk {main} main.js, main.js.map (main) 1.92 kB [initial] [rendered]
chunk {polyfills} polyfills.js, polyfills

[2018-11-30 21:49] rpaschoal commented on #86
Hi @aslansservant42 ,

I had that yesterday too but I thought it was just  due to my setup as I was testing on a laptop I use for other development.

https://github.com/rpaschoal/ng-chat/blob/master/demo/offline_bot/package.json

If you have a look at the package.json file, you can see there is a typescript dev dependency there so it should have worked fine.

To sort this out, you can try running

[2018-12-02 14:38] FShieldheart opened #87 "Instant Message View Information"
Hi @rpaschoal,

I need help with another issue. I have a "SignalR" method which has been signaled whenever a "read" occurs on unread messages. Then, the user who is the owner of the message receives this signal by listening to the correspondent method (assuming he/she is online). This is working perfectly up to this point. Now, after the message owner received the signal that his/her message has b

[2018-12-05 10:47] mukeshphpdev opened #88 "ERROR TypeError: Cannot read property 'triggerOpenChatWindow' of undefined"
getting this ERROR TypeError: Cannot read property 'triggerOpenChatWindow' of undefined

calling from another component

[2018-12-06 12:51] bhaumikdarji opened #89 "How to call OnUserClick directly from anywhere ?"

[2018-12-06 12:52] #89 closed

[2018-12-06 12:53] bhaumikdarji opened #90 "How to call OnUserClick directly from anywhere ?"
Hi,

I can open friend chat window from anywhere.
But I want to open direct chat window for use to use  from anywhere.
Currently we have to click from Friend list only.
How to call it from anywhere?

[2018-12-06 20:45] rpaschoal commented on #90
Hi @bhaumikdarji

Have you tried using `IChatController` ? Check this section on the docs: https://github.com/rpaschoal/ng-chat#triggering-ng-chat-actions-from-elsewhere

Basically you need to get the instance of your chat and then you can just open a chat window for a user by calling `this.ngChatInstance.triggerOpenChatWindow(user);`

[2018-12-06 20:49] rpaschoal commented on #87
Hi @FShieldheart ,

At the moment we don't have a feature on ng-chat to mark messages as read. Are you using the distribution NPM package and loading that to your project or have you cloned/forked ng-chat and doing modifications to it? If it is the latter, my suggestion would be that you could implement that and get a pull request here. I am sure a lot of people would appreciate such feature.

[2018-12-06 20:50] rpaschoal commented on #88
Hi @mukeshphpdev ,

It seems you are trying to use `IChatController` methods and your object instance is undefined. Looks to me that your `ViewChild` binding might be wrong.

[2018-12-06 20:55] rpaschoal commented on #55
Hi @BelvedereHenrique ,

It is not on my list of planned features for the next releases but if people keep voting for it I might reshuffle the priorities.

I am working on `1.3.0` at the moment and it will be shipping all the issues marked with the `Upcoming Features` label here on the issues list. For the next release I was planning to implement a feature in which the chat window could be "maximi

[2018-12-07 10:36] ashutiwari opened #91 "How to track Offline Users and how to message them when they are offline"

[2018-12-12 09:15] mukeshphpdev opened #92 "when page load poup window is coming with notification, message history coming in wrong window"
myadapter.ts
`import { Injectable } from '@angular/core';
import { ChatAdapter, User, Message, UserStatus } from 'ng-chat';
import { Observable, of } from 'rxjs';
import { delay } from "rxjs/operators";
import { map, catchError } from 'rxjs/operators';

import { ChatsService } from '../services/chats.service';
import { AngularFireDatabase, AngularFireList } from 'angularfire2/database';
import { T

[2018-12-12 10:20] BelvedereHenrique opened #93 "Chat history not loaded on chat window"
I'm trying to get the chat history to work.
I've enable "[historyEnabled]" and "getMessageHistory" is being called properly.

This is my method:

[code]
"getChatHistory" is working fine, since I'm able to console.log() the messages.

Did I forget something?

Thanks

[2018-12-12 11:58] BelvedereHenrique commented on #93
We've just noticed that the messages divs are being loaded at DOM, no message text though
![image](https://user-images.githubusercontent.com/24565006/49868318-36522200-fdf4-11e8-8c30-3417dd9eb2b1.png)

[2018-12-12 17:07] BelvedereHenrique commented on #93
Fixed.

The problem was the MessageType.
My api was returnig string "Text" instead of int "1";

[2018-12-12 17:07] #93 closed

[2018-12-12 20:04] rpaschoal commented on #90
Good to know @bhaumikdarji, cheers!

[2018-12-12 20:04] #90 closed

[2018-12-13 04:20] #88 closed

[2018-12-13 04:20] mukeshphpdev commented on #88
thanks

[2018-12-13 05:59] ashutiwari commented on #91
Thanks sir. ..I have done the project by using this package and that is
very helpful

On Thu 13 Dec, 2018, 11:19 AM Rafael Carvalho <notifications@github.com
wrote:

[2018-12-13 06:34] #91 closed

[2018-12-14 21:37] rpaschoal commented on #55
Hi @BelvedereHenrique ,

Thank you for your input. This feature request seems to be getting some traction so I've decided to implement it for the next release. I was working on `1.3.0` but it introduces breaking changes to the adapter so I will releasing that with `2.0.0` and group chat support.

It won't have all of the suggested features that you have proposed for now but we can later on iterate

[2018-12-14 21:43] rpaschoal commented on #74
The request feature will be shipped with version `2.0.0` which will be the next release.

[2018-12-14 21:46] BelvedereHenrique commented on #55
Great!

Thank you.

[2018-12-17 10:18] mukeshphpdev opened #94 "How to paginate through old messages"
Hi @rpaschoal,

i am facing pagination issue, i want to load old messages when scroll up, is there any option for this.
currently i am using firebase,  can you give me any example for it.

[2018-12-17 19:04] rpaschoal commented on #94
Hi @mukeshphpdev ,

There is an experimental adapter for this feature as mentioned on the README here https://github.com/rpaschoal/ng-chat#paged-history-chat-adapter-beta

Here is an example implementation: https://github.com/rpaschoal/ng-chat/blob/master/demo/offline_bot/src/app/demo-adapter-paged-history.ts

Hope it helps! Cheers

[2018-12-18 09:10] mukeshphpdev commented on #94
thanks a lot.

Cheers

[2018-12-18 09:10] #94 closed

[2019-01-10 04:04] Vivekdude commented on #74
@rpschoal When version 2.0.0 is going to released, We just need to implement this functionality.

[2019-01-10 22:33] rpaschoal commented on #74
Hi @Vivekdude ,

This is implemented at my current dev branch, just needs some more tests around it. I still have to implement the group chat which I haven't started.

I'll do my best to release the next version prior to the 27th of this month even if it does not include the group chat feature. I'll update you here once it has been released.

Cheers!

[2019-01-20 14:55] Vivekdude commented on #74
ok Thanks @rpaschoal  Could please guide me to handle the User status like Online, Offline, away, how i supposed to handle that.

[2019-01-20 17:15] rpaschoal commented on #74
Hi @Vivekdude ,

On your chat adapter instance you have a public method called `onFriendsListChanged`. You can just call it from your angular application and component that uses ng-chat. You would have to be notified by your application that handles the messages, so for example if you are using signalR you would send a message through the hub to the client and on the event of that message invoke `

[2019-01-24 05:43] rpaschoal commented on #55
Hi @BelvedereHenrique and @prashantpimpale93 ,

I've just published `2.0.0-rc.1` to NPM. There is now initial support for group chat there.

I haven't merged the changes on the master branch yet as this is an RC release so please refer to the README on this link for instructions on the new features: https://github.com/rpaschoal/ng-chat/tree/2.0.0-rc.1

I am planning on building a .net core applica

[2019-01-24 05:44] rpaschoal commented on #66
Hi @rmussabayev ,

Just letting you know that this has been released with `2.0.0-rc.1`.

I haven't merged the changes on the master branch yet as this is an RC release so please refer to the README on this link for instructions on the new features: https://github.com/rpaschoal/ng-chat/tree/2.0.0-rc.1

I am planning on building a .net core application with a full demo of ng-chat and all its feature

[2019-01-24 05:46] rpaschoal commented on #74
Hi @Magneto2018 and @Vivekdude ,

Just letting you know that this has been released with `2.0.0-rc.1`.

I haven't merged the changes on the master branch yet as this is an RC release so please refer to the README on this link for instructions on the new features: https://github.com/rpaschoal/ng-chat/tree/2.0.0-rc.1

I am planning on building a .net core application with a full demo of ng-chat and

[2019-01-24 11:14] BelvedereHenrique commented on #55
Great!

We've been working on group chat for a few days by now. We might be able to create a PR and maybe merge our work.

[2019-01-27 16:26] gary-stewart opened #99 "Installation problem (Angular version issue???)"
Hi. I'm trying to get your ng-chat-nodejs sample application running as a first step. I followed the instructions in readme.md file and get as far as getting the node application running.
It fails when I open terminal window and run "ng serve --open" with the error message "The serve command requires to be run in an Angular project, but a project definition could not be found.".

Some of my resear

[2019-02-05 21:34] rpaschoal commented on #99
Hi @gary-stewart , sorry about the late response as I was on holidays.

Hmm, should be pretty straight forward to run it, you might have executed `ng serve --open` in the wrong directory. You have to start the Node project and then go to the Angular example project and run `ng serve --open`.

In terms of Angular version, when I started to build this module it would run all the way from `2.0.0` to

[2019-02-16 01:35] rpaschoal commented on #99
Hi @gary-stewart ,

If you're still interested in getting a local demo running, I've just deployed the new demo with SignalR integration.

The source code can be found here: https://github.com/rpaschoal/ng-chat-netcoreapp

There isn't any instructions on how to get it running but it is a fairly small code base. If you're familiar with .net and asp.net development you'll be able to get it running p

[2019-02-21 08:06] riteshbathwal opened #101 "Why chat history shows same message history for all the users?"
Hi I am using the Offline Bot Adapter. The issue that I face is that even if I  set my getMessageHistory() method lilke below, I am not getting different messages from UserID1 and UserID2 , infact I am getting same two messages for all the users. How should I configure message history so that different message history is shown in different message window?

getMessageHistory(userId: any): Observabl

[2019-02-21 17:21] rpaschoal commented on #101
Hi @riteshbathwal ,

The offline bot is just a really simple example. You need to implement your own logic to fetch a user's history. You could for example send an API request with the userId to fetch the history from your application and then return its observable.

[2019-02-22 11:10] riteshbathwal commented on #101
Got it, thanks

[2019-02-22 11:45] riteshbathwal opened #102 "How to import NgChat component in my component so that I can get a reference of it."
Hello, How can I import NgChat component in my component so that I can get a reference of it using ViewChild? I tried with  importing NgChat component
import { NgChat } from 'ng-chat';
but this gives error: No exported member NgChat.  Please help in this regard.

Also I need to change 2-3 lines of your code in file: ng-chat/fesm5/ng-chat.js. How can I change those?
For example one of the change I

[2019-02-22 20:37] rpaschoal commented on #102
Hi @riteshbathwal ,

You have to type your view child as `IChatController`. and not as `NgChat`. That will give you the ability to trigger some events from your chat component.

Here is the link to the section on the readme file: https://github.com/rpaschoal/ng-chat#triggering-ng-chat-actions-from-elsewhere

Cheers!

[2019-02-22 20:37] #101 closed

[2019-02-22 21:23] #55 closed

[2019-02-22 21:24] #66 closed

[2019-02-22 21:24] #74 closed

[2019-02-22 21:24] #80 closed

[2019-02-22 21:24] #86 closed

[2019-02-22 21:25] #99 closed

[2019-02-23 05:29] riteshbathwal commented on #102
It only allows me to trigger the following events:
triggerOpenChatWindow(user: User): void;
triggerCloseChatWindow(userId: any): void;
triggerToggleChatWindowVisibility(userId: any): void;

But I want to modify some of the methods in NgChat class. That I can do by getting a reference of NgChat class. How can I get a reference to NgChat component?

[2019-02-23 09:10] riteshbathwal commented on #102
Hi, I need to customise the NgChat componentI just need to add 3 lines of code in following 3 methods:

1. fetchMessageHistory
2. onMessageReceived
3. openChatWindow
 Please let me know how can I do so?

[2019-02-23 21:36] rpaschoal commented on #102
@riteshbathwal I am not sure of what you want to achieve in your application but you could add some custom code to what you've mentioned above by:

1. You can add your code on `fetchMessageHistory` from your adapter
2. You can subscribe to this event by using an output to `onMessagesSeen`
3. You can also subscribe to this event by using an output to `onParticipantChatOpened`

Not exporting the `Ng

[2019-02-25 16:10] riteshbathwal commented on #102
Hi rpaschoal, Thanks for the kind words.

 What I did was copied node-modules/ng-chat folder in my project, and made my changes in the file: fesm5/ng-chat.js. Then changed the name of the module in the package.json file from ng-chat to test-ng-chat. Then I published this changed module on npm and installed this changed module into my project. It worked like charm.

But when I tried to create the b

[2019-02-25 20:21] rpaschoal commented on #102
@riteshbathwal You should not be changing the files on your NPM modules as they are compiled and bundled files.

You also probably don't want to be publishing a package on NPM that is only meant to be used by you. You should just compile and bundle the source code with your code or distribute it locally as I believe you wouldn't want other people seeing your customized application code.

Have you

[2019-02-25 21:10] riteshbathwal commented on #102
Hi rpaschoal. Below are the three changes I want:

1. in fetchMessageHistory() under the else section - handling getMessageHistory() subscription, I want to
replace the below commented line with the next one:
//window.messages = result.concat(window.messages);
 window.messages = result

2. in onMessageReceived() method, I want to implement it like below:
if (participant && message)
        {

[2019-02-26 09:20] riteshbathwal commented on #102
Hi rpaschoal. I have added the git repo of ng-chat module into my project and made my changes in it. Now I got what you mean by : "You should just compile and bundle the source code with your code or distribute it locally as I believe you wouldn't want other people seeing your customized application code."

Thanks for your help. Now I can make any changes on my local copy and have my project run s

[2019-02-26 20:51] rpaschoal commented on #102
Cool @riteshbathwal , I'm glad you got your issue sorted!

I still firmly believe you might be able to sort these out by changing a bit the way your API endpoints behave and just coding against the adapter.

[2019-02-26 20:51] #102 closed

[2019-02-26 21:20] TeDyGuN opened #104 "problems with getMessageHistoryByPage()"
hello, I have a question more of programming than ngChat, I'm stuck 3 days with this, that's why I see the need to open this issue.
how can I get the messages from the database without an observable?, since I cant get the messages outside de http.get because it is a synchronous function.

[code]
Thanks for answer and sorry for the noob question.

[2019-02-26 22:36] rpaschoal commented on #104
Hi @TeDyGuN ,

The adapter requires an `Observable` return. If your method to retrieve your data is synchronous you could just wrap your result with an `Observable.of(yourDataHere)` call.

Hope it helps! Cheers.

[2019-02-27 15:04] TeDyGuN commented on #104
I solved with this code, thanks a lot!!
[code]

[2019-02-27 15:04] #104 closed

[2019-03-05 15:01] okoska79 opened #105 "Avoid handling blob urls in avatar as unsafe value"
Hi @rpaschoal!

Currently, if the url of the avatar image is something like "blob:http://..." then getting the avatar throws an exception as using an unsafe value. Unfortunatelly, because of the missing property binding, sanitizing the url does not help. However, if the src="{{user.avatar}}" in line 31 of ng-chat.component.html would be replaced by [src]="user.avatar" and the avatar would be a str

[2019-03-05 19:56] rpaschoal commented on #105
Hi @okoska79 ,

Sounds great to me! You happy in pushing a pull request for these changes so I can release it as a patch with `2.0.1` ?

If not I can do it at some point during this weekend.

I wonder if we have to follow the same approach for `browserNotificationIconSource` too?

Cheers!

[2019-03-18 05:17] rpaschoal commented on #105
@okoska79 I've just released `2.0.1` with the fix for this. There is no update on the `Participant` type, I'm just invoking the DOMSanitizer to bypass the URL directly from the angular template. You can check the changes on this PR #106

[2019-03-18 05:18] rpaschoal opened #107 "Provide SignalR example for group chat"
I know this is not part of this issue, but please check this:
https://stackoverflow.com/questions/54894884/cant-receive-messages-from-groups-ng-chat

_Originally posted by @JosePolanco18 in https://github.com/rpaschoal/ng-chat/issues/105#issuecomment-472468011_

[2019-03-18 05:19] rpaschoal commented on #105
@JosePolanco18 I've moved your request to another issue as it is not related to the issue being reported here. Please track it here from now on: #107

[2019-03-18 05:21] rpaschoal commented on #107
Some details on the issue as first replied on StackOverflow:

[code]

[2019-03-18 05:22] rpaschoal commented on #107
I'll soon be adding support for group chat on the SignalR adapter example found here: https://github.com/rpaschoal/ng-chat-netcoreapp

[2019-03-18 06:55] hsrashmi opened #108 "Open chat window for an individual direclty, instead of listing all friends"
Hi,
I've a requirement in which my GUI itself has list of friends. So, using ng-chat, is it possible to open chat window for selected the user directly, without ng-chat showing list of friends.
Regards,
Rashmi

[2019-03-18 06:59] hsrashmi commented on #108
Hi,
I've a requirement in which my GUI itself has list of friends. So, using ng-chat, is it possible to open chat window for selected the user directly, without ng-chat showing list of friends.
Regards,
Rashmi

[2019-03-18 07:32] rpaschoal commented on #108
Hi @hsrashmi ,

Yes it is possible, you can set `hideFriendsList` to true and control ng-chat using the `IChatController` interface.

[2019-03-18 08:09] Kolpak86 commented on #108
Hi @rpaschoal, can you make some example  control ng-chat using the IChatController interface?

[2019-03-18 08:27] rpaschoal commented on #108
Hi @Kolpak86 ,

It is on the readme, you need to add an angular identifier to your ng-chat usage:

`<ng-chat #ngChatInstance ... />`

Then on your component TS code (assuming you are using TypeScript):

`@ViewChild('ngChatInstance')
protected ngChatInstance: IChatController;`

Make sure you import `IChatController` from the ng-chat package at the top.

After you've done the above, you will be able

[2019-03-18 08:56] Kolpak86 commented on #108
app.component.html:
<ng-chat #ngChatInstance  [adapter]="adapter" [userId]="999" [title]="'Онлайн операторы'" [historyEnabled]="true" [historyPageSize]="4"
    [messagePlaceholder]="'Задайте вопрос'" [hideFriendsList]="true" [searchEnabled]="false" (onMessagesSeen)="messageSeen($event)">
</ng-chat>
<router-outlet></router-outlet>

app.componet.ts:
import { Component, ViewChild, OnInit } from '@ang

[2019-03-18 16:59] hsrashmi commented on #108
@rpaschoal, i missed to see it in read me, it indeed worked. Thanks for the quick reply

[2019-03-18 17:32] Kolpak86 commented on #108
@hsrashmi  could you please share a piece of your code where you use ihatController?

[2019-03-18 18:02] hsrashmi commented on #108
@Kolpak86, its same as mentioned by @rpaschoal  in his reply.
In my template, I'm opening chat window when a chat icon on the screen is clicked. So, on click event i'm calling a function "openChat(user name)" as below.
        <div class="marginRight20 chatIcon">
            <i class="fa fa-comment-o fa-lg" (click)="openChat(data.contact_id)"></i>
          </div>

          <ng-chat #ngChatInstan

[2019-03-18 20:13] Kolpak86 commented on #108
@hsrashmi thanks a lot bro:)

[2019-03-18 22:08] rpaschoal commented on #108
I'm confused, have you guys managed to get it working? 🤣 @Kolpak86 , @hsrashmi

[2019-03-19 06:07] Kolpak86 commented on #108
@rpaschoal yes it works 👍

[2019-03-19 06:49] hsrashmi commented on #108
Hi @Kolpak86 ,
i was able to get the chat window up for single participant with the code you pointed out. Thanks for that.
But there seems to be another issue. Not sure if I should have it as a separate issue.

This is what it is.
A message is sent from the opened chat window, let's say userId = 1

In template, i've this:
`  <ng-chat #ngChatInstance
           [adapter]="adapter"
           [userI

[2019-03-19 11:43] Kolpak86 commented on #37
Can I use this URL of the stylesheet chat.scss?
![image](https://user-images.githubusercontent.com/30974219/54603444-5a597b00-4a55-11e9-8433-81778b9c70df.png)

[2019-03-19 12:08] Kolpak86 commented on #37
it is possible to implement custom scrollbar of chat window?
![image](https://user-images.githubusercontent.com/30974219/54604800-bbcf1900-4a58-11e9-992c-19130b3a1d52.png)

[2019-03-20 05:36] hsrashmi commented on #108
Hello Andrew,
Any update on the above issue?

Regards,
Rashmi

[2019-03-20 06:13] Kolpak86 commented on #108
Hello, @hsrashmi. Sorry I  have one problem with building app. When I'll solve the problem then I'll look on that issue :)

[2019-03-20 06:19] hsrashmi commented on #108
Sure, do let me know when you have any updates on this one. i need to get my chat app working asap

[2019-03-20 06:39] Kolpak86 commented on #108
@hsrashmi. This how it works for me
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30974219/54663985-0c478480-4af4-11e9-8fb5-fe2dc645dca0.gif)

[2019-03-20 06:46] hsrashmi commented on #108
yes, i need the same behaviour. in my case, the reply mesg is coming in a new window instead of showing in same window. Is it possible to share your code?

[2019-03-20 06:52] Kolpak86 commented on #108
app.componet.ts:
import { Component, ChangeDetectorRef, ViewChild } from '@angular/core';
import { ChatAdapter, IChatController, User, ChatParticipantType, ChatParticipantStatus } from 'ng-chat';
import { Adapter } from './adapter';
@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss'],
})
export class AppComponent {
  @ViewChild('ngChatI

[2019-03-20 06:54] Kolpak86 commented on #108
But this is only test.

[2019-03-20 07:02] hsrashmi commented on #108
Can you please also share adapter code?

[2019-03-20 07:07] Kolpak86 commented on #108
import {
  ChatAdapter,
  IChatGroupAdapter,
  User,
  Group,
  Message,
  ChatParticipantStatus,
  ParticipantResponse,
  ParticipantMetadata,
  ChatParticipantType,
  IChatParticipant,
} from 'ng-chat';
import { Observable, of } from 'rxjs';
import { delay } from 'rxjs/operators';

export class Adapter extends ChatAdapter implements IChatGroupAdapter {
  public static mockedParticipants: IChatPa

[2019-03-20 07:11] hsrashmi commented on #108
Thanks for the code, will check and come back on this

[2019-03-20 07:13] Kolpak86 commented on #108
No problem :)

[2019-03-21 06:13] hsrashmi commented on #108
Hi Andrew,
Issue is still not resolved for me. I still get reply is different window.
let me know whats the best way to contact you, instead of discussing here. Ofcourse, we can always update this thread if any fix was needed/found

[2019-03-21 06:36] Kolpak86 commented on #108
@hsrashmi , this is my telegram +375291452798

[2019-03-21 06:38] hsrashmi commented on #108
Sorry, i intended to ask my question to Rafael. Please ignore my request

[2019-03-25 06:44] rpaschoal commented on #108
@hsrashmi Check your adapter and your hub, those are the key pieces who will target to whom the message is going to be sent to. Your issue might be something very simple like sending the message to the sender again instead of sending it to the desired receiver.

[2019-03-25 07:04] rpaschoal commented on #107
From my StackOverflow answer:

While testing I think I've found a minor bug with group messages not being marked as read. I'll do some more testing and confirm it is really a bug and push a patch anytime soon for it.

[2019-03-28 00:22] cristiantorresf19191919 opened #109 "I am wondering how to change avatar for a picture?"
I am wondering how to change avatar for a picture?

[2019-03-28 04:51] rpaschoal commented on #109
Hi @cristiantorresf19191919 ,

Use the `avatar` property of the `IChatParticipant` interface which is implemented by `User` or `Group`.

Cheers!

[2019-03-28 20:11] Nesbox314 opened #110 "Problemas na hora de fazer a requisição de dados"
Olá, Rafael, eu procurava um componente bacana de chat para a implementação em um sistema particular, e achei o seu muito legal e servia muito bom nos meus propósitos, porém estou enfrentando um problema.

O sistema em desenvolvimento se baseia em Angular e uma API em Spring, ou seja, as requisições de dados que eu tenho de fazer, são métodos que vem de um serviço chamado BaseService, logo, eu obr

[2019-03-29 12:06] Nesbox314 commented on #110
Muito obrigado Rafael, com certeza vou tentar implementar desse jeito, se você conseguir refatorar o projeto, eu agradeceria infinitamente se você me avisasse.

OBRIGADO!!!!

Ps: Desculpa escrever o Issue em PT-BR.

[2019-03-31 08:13] cristiantorresf19191919 commented on #109
excuse I am very new on coding can you PLEASE provide me an example I was lost with IChatParticipant interface it's like talking to me in Mandarin with hiccup

[2019-04-01 20:12] rpaschoal commented on #105
Closing this issue as the fix was released with version `2.0.1`.

[2019-04-01 20:12] #105 closed

[2019-04-04 10:47] Code-N-K opened #111 "Hi @rpaschoal"
I need to add a video button on top of ng-chat Window like Close on click of this i want to initialize my own Jquery/Javacript Funtions. Please provide details for the same. @rpaschoal - Enhancement required.

[2019-04-04 11:55] Code-N-K opened #115 "UploadFile - restriction details and response check not available"
As file upload is used how can we stop file loader if any invalid response is their, and how to validate the response in UploadFile of Homecontroller. @rpaschoal

As a use-case i dont want to upload zip,exe,rar on any restricted format.

[2019-04-04 12:13] Code-N-K opened #112 "ng-chat Friend List in side menu"
Can we add ng-chat Friend List in side menu, as i have tried to add the friend list in side navigation menu of bootstrap either left or right side so that when require we can open the side navigation of chat, but it always open from below at bottom-right of page. Kindly Reply @rpaschoal .

[2019-04-04 12:22] Code-N-K commented on #111
... ng-chat-options to add people i want to add video button and want to call my own functions of javascript and webrtc

[2019-04-04 20:29] rpaschoal commented on #111
Hi @Code-N-K ,

I believe it would be sufficient if you could provide your extra chat options as an Input right?

[2019-04-04 20:30] rpaschoal commented on #112
Hi @Code-N-K ,

Have you tried fiddling around with the custom themes option?

Shifting ng-chats position and chat window size is kinda of trick at the moment because there are a lot of view port calculations that happen intrinsically.

[2019-04-05 03:37] Code-N-K commented on #111
Can you suggest me the functional code as i was unable to find proper tags in your ng-chat module.

[2019-04-05 21:00] rpaschoal commented on #111
Hi @Code-N-K , I believ that is not yet available as public API to the component. Check this link: https://github.com/rpaschoal/ng-chat/blob/master/src/ng-chat/core/chat-option.ts

Do you believe that exposing something similar would help you achieving what you're trying to implement?

[2019-04-06 02:37] Code-N-K commented on #111
Hi @rpaschoal, my main query is I need to add some more buttons on user chat window, so that we can add our more functionality to the chat window which can be used to chat.

As you have added the (add people) functionality in your live demo, I am unable to add something like that..

But actually I need to add a(video call) icon near to X(close) button on user chat window.

[2019-04-06 08:13] MuthiahMazzle opened #113 "Friend List not Loaded"
I got this error on friend list loaded
ERROR TypeError: Cannot read property 'avatar' of undefined
View_NgChat_7 @ ng:///NgChatModule/NgChat.ngfactory.js:145
push../node_modules/@angular/core/fesm5/core.js.DebugContext_.logError @ vendor.js:63857
push../node_modules/@angular/core/fesm5/core.js.ErrorHandler.handleError @ vendor.js:54427
(anonymous) @ vendor.js:57273
push../node_modules/zone.js/dist

[2019-04-07 18:36] rpaschoal commented on #109
Hi @cristiantorresf19191919 ,

Please check the following repositories for examples:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

[2019-04-07 18:36] #109 closed

[2019-04-07 18:38] rpaschoal commented on #113
Hi @MuthiahMazzle ,

It seems to me that something you're passing as a data source for your friends list is undefined. Please double check your API return or your test data.

[2019-04-07 18:40] rpaschoal commented on #111
This is exactly what I am talking about @Code-N-K ,

For the time being that chat options feature is not publicly exposed, it is just used as an internal component in ng-chat. I believe what you want is to be able to pass your own custom options with their own custom actions. This is not implemented yet but it could be.

Would you feel comfortable pushing these changes to this repository and if th

[2019-04-07 20:34] rpaschoal commented on #115
Hi @Code-N-K ,

I've just released `2.0.2` with a couple bug fixes, and now when an error occurs while uploading a file the state of the file upload input gets reset.

If you want to validate for file extensions, you could do so now on your file processing API.

There is no way at the moment to capture the error and show a message to the user or a toast notification. I believe the best way to tack

[2019-04-07 20:35] rpaschoal commented on #107
The bug for unread messages not being marked as read for group chats has been released with version `2.0.2`.

[2019-04-07 20:35] #107 closed

[2019-04-08 05:56] Code-N-K commented on #115
Your SignalR Group chat example with group using SignalR adapter is adding multiple logged in user as friends on each request. This means it adds logged  in user to the friend list.

[2019-04-08 06:52] Code-N-K commented on #111
I am unable to extent the ChatOptions as dont have any example for the same. I can only fork if i need to see some working example.

[2019-04-08 08:55] Code-N-K commented on #115
I have added some code updates to file processing api.

public async Task<IActionResult> UploadFile(IFormFile file, [FromForm(Name = "ng-chat-participant-id")] string userId)
        {
            if (userId != null && file != null)
            {
                //Limit 2mb size
                if (file.Length < 2097152)
                {
                    if (file.FileName != null &&

[2019-04-08 21:07] rpaschoal commented on #115
Hi @Code-N-K ,

Please read my detailed message above. There isn't support at the moment and I will investigate adding an event raised method to the file upload adapter contract.

I always encourage everyone to contribute to ng-chat so feel free to contribute to the main repository too with pull requests. Just make sure we discuss and detail the design for new features as we need to consider many

[2019-04-09 12:47] Code-N-K opened #116 "I tried the Video Button by directly fork in ng-chat/fesm5/ng-chat.js file from node modules"
I tried the Video Button by directly fork in ng-chat/fesm5/ng-chat.js file from node modules.

Image below
<img width="956" alt="chatVideo" src="https://user-images.githubusercontent.com/21154957/55801384-967f7900-5af3-11e9-9015-dc71d023b5fd.png">

but now i am not able to show them properly, and also the onVideoChatWindow(window) method throws error. Kindly update the same for your next build. Wh

[2019-04-09 20:15] Nesbox314 opened #117 "Problems when listing friends"
Hello, I'm trying to use ng-chat in a personal project, and at the moment I'm implementing the listFriends () method;

The problem I am facing is that the chat loads very fast, and the request has a lot of data, about 260 people, and when loading very fast, the method listFriends is finalized before the subscribe ends, leaving the chat without data. Is there any way to make the list friends method

[2019-04-10 04:59] Code-N-K commented on #115
Thats what i have written the code for my use, You need to add the above in upload File Method of Home controller in your code.

1. The code above checks file size and extensions which are not allowed.
2. So in return i have used your return statements, as if i return badrequest then the code is not working. Thus i returned an ok with empty parameters assuming that the request will be processed an

[2019-04-13 19:58] mosheDO opened #118 "How to save to DB on node and angular?"
I really need some help about save all messages to DB (mongo)
any help appricate

thanks!

[2019-04-16 19:55] Nesbox314 opened #119 "An explanation of the onMessageReceived() method?"
So, I'm trying to use this method to receive the messages, however, strange things have been happening, one of them is: I send the message, and when the socket returns the object, a window opens in the destination (correct) another on the shipping tab. I'm pretty lost in that regard. But my final question is, what are the features that I have to go through in the onMessageReceived method.

Here we

[2019-04-16 20:07] rpaschoal commented on #119
Hi @Nesbox314 ,

For `onMessageReceived`, the first argument `IChatParticipant` is who's sent this message to the receiving user. The second argument is not a string, it is of type `Message`, and yes you should fill your `Message` object.

Think of these adapter methods as "hookin up" your sockets implementation (Can be whatever you want, SignalR, Socket.io, etc) to the ng-chat component.

Let me

[2019-04-16 20:08] rpaschoal commented on #118
Hi @mosheDO ,

Managing the state of your message and users is up to your application. ng-chat is merely the interface to enable the flow of messages and data through users on an Angular application.

These links might be helpful (although there is no DB persistence) in case you haven't checked them:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

Hope

[2019-04-16 20:10] rpaschoal commented on #117
Hi @Nesbox314 ,

Is this still an issue? Would you be able to provide some reproduction code for this?

[2019-04-16 20:10] rpaschoal commented on #116
Hi @Code-N-K ,

You shouldn't be updating the build files, those are JS bundles generated via ng-packgr.

[2019-04-16 20:12] rpaschoal commented on #108
Closing this as @Kolpak86 has managed to get the same behavior working and this thread hasn't had any interactions in a while.

[2019-04-16 20:12] #108 closed

[2019-04-17 11:11] mosheDO commented on #118
First of all thank you @rpaschoal  for the repo and the answer.

I already checked them and i still cant figure out how to add DB.
is there a chance to add DB in this example?

 https://github.com/rpaschoal/ng-chat-nodejs

[2019-04-17 13:22] Nesbox314 commented on #119
Okay, thank you so much for the answer. Before I try anything else, I have one more question. In the first parameter of type IChatParticipant, do I have to fill the entire object?

[2019-04-17 13:58] Nesbox314 commented on #119
I'll leave my code here. I've been doing a good search and in the configuration now, that's what happens. The code is in Portuguese, but I see that you came from Brazil, so it is likely that you do not have much trouble understanding.
I'm using SockJS with an API in Spring.

Here's an example of how chat is reacting now.

Send example:
![envio 2](https://user-images.githubusercontent.com/46055626/

[2019-04-22 16:52] #117 closed

[2019-04-22 18:53] Nesbox314 opened #120 "How to stop the pollFriendsList directive?"
In my API, I can only make requests while logged in, and my question is that the chat continues to try to polling even when logged off, on the login screen, by playing continuous errors. Please HELP!

[2019-04-22 19:45] rpaschoal commented on #120
Hi @Nesbox314 ,

Just add a `*ngIf` and don't render your chat component if you are not logged in. This should do the trick! 😺

[2019-04-22 19:46] Nesbox314 commented on #120
I gonna try, thanks!

[2019-04-23 18:21] Thorski opened #121 "Linkfy - cannot click on links, see html code in chat."
Am I misunderstanding how the linkfyEnabled should work?   I was expecting to get a link I could click on in the chat window.  Instead I see html with the anchor tag.   I repeated this on your demo site.

![image](https://user-images.githubusercontent.com/28730875/56605785-df92fb00-65d2-11e9-8287-b9cd036c0729.png)

Very nice chat implementation! Thank you!

[2019-04-23 20:08] rpaschoal commented on #121
Hi @Thorski ,

Thank you for reporting this, seems like a bug to me. I'll investigate further and see what is going on and release a patch version to fix this. I've got some planned work on potential minor/major releases that I still have to find some time for it (Quite busy recently =/) but I usually try to release bug patches as quick as I can. Please expect a patch release fixing this in the ne

[2019-04-26 21:58] rpaschoal opened #122 "[Bug] Friends list search is not working on demo when connected to Azure SignalR hub"
Go to the demo site (https://ng-chat.azurewebsites.net/) and connect to the Azure SignalR hub and then try filtering the friends list. Seems not to be working.

Opening this issue to investigate and provide a patch with #121

[2019-04-27 00:05] rpaschoal commented on #122
Might have been a hiccup with my machine, can't reproduce.

[2019-04-27 00:05] #122 closed

[2019-04-27 00:26] rpaschoal commented on #121
Hi @Thorski ,

I've released version `2.0.3` which contains the fix for this bug. You can check the changes I've made here if you are interested #123

Cheers!

[2019-04-30 17:09] Thorski commented on #121
Works great!  Thanks!

[2019-04-30 17:09] #121 closed

[2019-05-05 07:07] MuhammadRizwanBashir opened #124 "In SignalR demo issue with userId when uploading files"
I was checking SignalR demo and uploaded files to someone in chat room. once i uploaded file to one user and then uploaded file to other user, but file sent to same user whom i sent before.
Maybe i have changed the focus, or on upload button userId is not changing. I haven't debugged yet. Maybe this is issue in just demo. I will update here after implementation.

[2019-05-05 07:11] MuhammadRizwanBashir commented on #124
File only can be send to user we sent first, to send file to other user we have to close the chat window of previous user we have sent the file. There is issue in file upload.

[2019-05-05 18:38] rpaschoal commented on #124
Hi @MuhammadRizwanBashir ,

Thank you for reporting this issue.

I'll investigate and if this is really a problem will come up with a patch release at some point this week.

Cheers!

[2019-05-09 07:16] MuthiahMazzle commented on #113
thanks

[2019-05-09 18:31] #113 closed

[2019-05-10 23:29] rpaschoal commented on #124
Hi @MuhammadRizwanBashir ,

Just letting you know that a fix for this issue has just been published to NPM with version `2.0.4`.

This is the pull request containing the changes #125 and here you can find the details of what was released with version `2.0.4`: https://github.com/rpaschoal/ng-chat/releases/tag/2.0.4

[2019-05-15 14:14] MuhammadRizwanBashir commented on #124
@rpaschoal Thanks

[2019-05-15 18:53] #124 closed

[2019-05-17 07:05] ajayshukla commented on #118
Any update on this mate?

I also want to do the same.

Thanks

[2019-05-24 04:06] mukeshphpdev opened #126 "Mobile Responsive issue"
hi..
in mobile ng-chat is not working.

[2019-05-24 05:29] rpaschoal commented on #126
Hi @mukeshphpdev ,

ng-chat was built for desktop/tablet view-ports. You will need a different solution for mobile users of your application.

[2019-06-01 16:27] kooshanabedian opened #127 "Indefinite polling of custom css style"
Hi,
I have opt in to use my custom css file and luckily got it working the way I wanted. The only problem is that I noticed that the app is showing some unexpected behavior! Polling my customstyle.css file indefinitely like the way it polls listoffriends. Is this intended? If so, how can I shut it down or at least do less frequent polls.
Thanks for the amazing job!

[2019-06-01 22:08] rpaschoal commented on #127
Hi @kooshanabedian ,

It's a fairly simple setup at the moment to be honest with you. This is how it is loaded on the DOM:

`<link *ngIf="customTheme" rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(customTheme)'>`

And `customTheme` is an `@Input` property. I wonder if there is something we can do on top of this to prevent the MVVM binder to keep "polling" for the resource? Any

[2019-06-01 22:23] #112 closed

[2019-06-01 22:25] #115 closed

[2019-06-01 22:25] #116 closed

[2019-06-01 22:27] rpaschoal commented on #119
Hi @Nesbox314 ,

Just checking out if this is still an issue for you? Reading your code above it seems you have to swap the `fromId` and `toId` message properties.

[2019-06-01 22:29] #126 closed

[2019-06-01 22:31] rpaschoal commented on #118
Hi @mosheDO and @ajayshukla ,

I don't have any plans in adding a demo that persists the messages on a database. The existing demos should be a fairly good kick-starter on how the data flows through your back-end and persisting the messages should be fairly straight forward if you've already got experience in writing APIs that persist data.

Cheers.

[2019-07-05 09:55] anakin59490 commented on #127
Hi,
I have issue with a custom css file declaration and I think you can quickly answer my question :
I have folder in my angular project with
- chat.component.ts
- chat.component.html
- chat.component.css

I suppose I need to use [customTheme] option, and I use it like this in my ts file:

[customTheme]=" './chat.component.css' "

but it does'nt work.

Here the css content :
#ng-chat {
    positio

[2019-07-06 07:00] rpaschoal commented on #127
Hi @anakin59490 ,

You have to pass the `Theme` property to with a custom value. Here is the enum it expects: https://github.com/rpaschoal/ng-chat/blob/master/src/ng-chat/core/theme.enum.ts

When you pass the enum to ng-chat, it will create a wrapping class to the component with the string value of that enum. So for your custom css you will have to add everything inner to `.custom-theme`.

Not eve

[2019-07-16 18:11] sawood1345 opened #129 "emoji popup"
is there a popup for emojis or could you implement an emoji popup that a user can use to select an emoji/s to include in his or her messages?

[2019-07-17 07:04] rpaschoal commented on #129
Hi @sawood1345 ,

There isn't an emoji popup/menu at the moment. This is a good idea for a next release! Would you like to work on a pull request for this feature or would you prefer waiting for me to have some spare time to develop it?

Cheers!

[2019-07-30 11:41] centigrade-thomas-becker opened #130 "Styles for dark/light theme are leaking to other components"
Given the following example:

[code]

The `<h1>` element will inherit the styles for "dark-theme", even though it is not part of ng-chat.

The ng-chat decorator uses `encapsulation: core.ViewEncapsulation.None`, so the generated styles for "dark-theme" or "light-theme" will be applied to **any** element of the Angular app that match the class name "dark-theme":

[code]

A quick solution would be t

[2019-08-08 20:30] paulStr commented on #120
@Nesbox314

I`m doing just that, not rendering the component using an `*ngIf` but the polling still happens. I wasn`t able to find a way to stop the polling once you start it.

[2019-08-09 02:54] rpaschoal commented on #120
Might be worth while some investigation then. I'm gonna chunk a bug label on this so it can be worked on for a next release @paulStr

[2019-08-13 19:19] JacobSiegle opened #131 "Inline chat mode"
Basically the ability to have the chat window (green part below) appear inline instead of always in the bottom left corner in a popup window. This would allow customization like putting ng-chat in a sidebar and using it with other components in other libraries. Also some design methods don't really work well with the chat window always being stuck in the bottom left corner - https://material.io/de

[2019-08-14 07:32] sachinbasendr opened #132 "ng-chat component couldn't be bootstrapped"
I got this message
ng-chat component couldn't be bootstrapped
i am using bootstrap
"dependencies": {
xyz,
"@ng-bootstrap/ng-bootstrap": "^4.0.1",
xyz,
}

[2019-08-14 17:47] JacobSiegle commented on #132
Your app bootstrapping is not the same thing as ng-bootstrap. Please see - https://angular.io/guide/bootstrapping.

Are you sure you included ng-chat in your project correctly? Can you elaborate on the error?

[2019-08-14 21:44] rpaschoal commented on #132
Hi @SachinJat ,

This indicates that some of the required inputs weren't provided to ng-chat. Have you supplied a chat adapter implementation to it?

Cheers!

[2019-08-14 21:46] rpaschoal commented on #131
Hi @JacobSiegle ,

Thanks for the suggestion! This hasn't be thought yet and I am unsure if this would be achievable via CSS. Is this something that is a crucial requirement for your application though?

There are other planned features for a next release which in my eyes would have a higher priority than this but let me know your thoughts.

Cheers!

[2019-08-14 21:46] rpaschoal commented on #130
Hi @centigrade-thomas-becker ,

Thanks for pointing this out! Will consider this enhancement for a next release!

Cheers

[2019-08-14 21:47] #118 closed

[2019-08-17 10:59] SachinJat commented on #132
Yes i have you supplied a chat adapter implementation but something i have missed on it

But Now ok
Thanks.

[2019-08-19 10:07] sachinbasendr opened #133 "Chat message user icon default showing. How can i set them"
My friend list showing all user icons but when on click user to open chat window all messages showing with default icons.

Is this possible for show user icon on chat window?

Please help?

[2019-08-20 01:25] justincohan commented on #127
sanitizer.bypassSecurityTrustResourceUrl is also being used on images causing them to load many times.

In order to fix this you can apply the method only once in the component or you could create a pipe.

`[src]="user.avatar | sanitize"`

[2019-08-23 09:10] victorz-airsoft opened #134 "Avatar images are loading again and again on each Application changeDetection"
Hi, first of all thank you for an amazing package!

We have faced the problem, while using your package in development of the chat feature for our application.

The problem is this:

We put a link for avatar image for each participant in chat adapter.
Then we payed attention, that on every Angular change detection, the avatar images are loaded again:
![image](https://user-images.githubusercontent.

[2019-08-23 12:24] Jeenalbhatt opened #135 "New release and updated features"
When will new feature release ? can you let us know what all features will be available in next release if possible

[2019-08-23 21:21] rpaschoal commented on #134
Hi @victorz-airsoft ,

This was added as a request by another user long time ago. I believe the sanitizer is helpful when the resources are coming from a different domain then the running application itself. I'll make this a configuration and leave it off by default which should fix your issue. I'm planning a patch release with small bug fixes soon so keep an eye on this.

Cheers

[2019-08-23 21:22] rpaschoal commented on #133
Hi @SachinJat ,

You have to set the avatar on the response of the participant details.

[2019-08-23 21:22] #119 closed

[2019-08-23 21:26] rpaschoal commented on #135
Hi @Jeenalbhatt ,

I'm planning a patch release for within the next 2 weeks to fix the following issues:

https://github.com/rpaschoal/ng-chat/issues/120
https://github.com/rpaschoal/ng-chat/issues/127
https://github.com/rpaschoal/ng-chat/issues/134

and the changes on this PR: https://github.com/rpaschoal/ng-chat/pull/128

Mainly bug fixes. Is there any particular feature or idea you are looking

[2019-08-24 17:26] JacobSiegle commented on #86
I cannot get this project to compile either. I've tried many different combinations over the past hour to get it to work.

Here's a log from my last attempt -
1) Clone fork
2) cd src
3) npm link
4) cd ..
5) cd demo
6) npm link ng-chat
7) ng serve from demo, offline_bot, project root gives "Could not find module "@angular-devkit/build-angular""
8) cd demo/offline_bot
9) npm install --save-dev @angu

[2019-08-25 09:13] victorz-airsoft commented on #134
Hi Rafael, thank you for the quick reply.

Making it configuration for users choice is great solution for this.

Thank you and best regards

From: Rafael Carvalho <notifications@github.com>
Sent: Saturday, August 24, 2019 12:21 AM
To: rpaschoal/ng-chat <ng-chat@noreply.github.com>
Cc: victorz-airsoft <victorz@airsoftltd.com>; Mention <mention@noreply.github.com>
Subject: Re: [rpaschoal/ng-chat] Av

[2019-08-26 05:24] SachinJat commented on #133
Hi @rpaschoal

I am already set avatar on participant details of friend list.
but on chat list user icon not showing according to set avatar.
What i am missing?
Please see my chat room
![Screenshot](https://user-images.githubusercontent.com/40889887/63666992-cf449400-c7ef-11e9-8667-33835cd148e6.png)

[2019-08-29 09:11] pattarmanjunath50 commented on #73
Hi,
Is there a way to listen the click event on the message so that if there was a hyperlink referencing a component in the same application, can be redirected to that component in the application?
Please help.

[2019-09-01 20:02] rpaschoal commented on #120
Some interesting read on this: https://github.com/angular/angular/issues/23756

I'm going to add an `@Input` (eg: isDisabled) prop so it can disable the behavior of ng-chat internally nonetheless.

[2019-09-02 00:57] rpaschoal commented on #135
Hi @Jeenalbhatt ,

https://github.com/rpaschoal/ng-chat/releases/tag/2.0.5 has just been released! 🎉

[2019-09-02 00:58] rpaschoal commented on #120
This should now be fixed with version 2.0.5: https://github.com/rpaschoal/ng-chat/releases/tag/2.0.5 👍

You will have to use the `isDisabled` property to hide ng-chat and that will remove the interval of the friend list poll mechanism.

@paulStr and @Nesbox314 ^

[2019-09-02 00:58] rpaschoal commented on #127
This should now be fixed with version 2.0.5: https://github.com/rpaschoal/ng-chat/releases/tag/2.0.5 👍

[2019-09-02 00:59] rpaschoal commented on #134
This should now be fixed with version 2.0.5: https://github.com/rpaschoal/ng-chat/releases/tag/2.0.5 👍

[2019-09-02 01:00] rpaschoal commented on #130
Hi @centigrade-thomas-becker ,

I haven't released this with 2.0.5 but I'm still planning to release this at some point.

Cheers.

[2019-09-02 07:12] centigrade-thomas-becker commented on #130
Another solution would be to add the element name to the css rules, like `ng-chat.dark-theme`. What do you think which solution would be better?

[2019-09-02 21:45] rpaschoal commented on #130
Hi @centigrade-thomas-becker , I think that adding a selector prefix to it would be ideal (Such as `.ng-chat`).

Would you be comfortable in getting a PR for this? If you want to work around this just remember to do some dev testing around the default light and dark themes and also to test the custom theme support as well.

Cheers

[2019-09-03 07:14] centigrade-thomas-becker commented on #130
Sorry, I am short on time right now.

[2019-09-18 23:39] #135 closed

[2019-10-02 12:31] Inexad opened #138 "Angular 8 + @auth0/angular-jwt"
All my bearers get removed after including: NgChatModule in my app.module.ts.

I'm using package @auth0/angular-jwt for handling my bearer tokens. It uses a http interceptor and add the token to http header. For some reason this bearer is lost if i import NgChatModule. If i remove NgChatModule it works as intended.

Is NgChatModule interfering with some http interception ?

[2019-10-02 22:35] rpaschoal commented on #138
Hi @Inexad ,

ng-chat does use the HttpClientModule as part of its imports. It's mainly used to handle file uploads. Do you have the setting to enable file uploads on?

In terms of headers or possible interference I can't think of anything that could be causing such behavior. Have a look at this file as this is where ng-chat uses a `HttpClient` instance: https://github.com/rpaschoal/ng-chat/blob/m

[2019-10-03 04:42] Inexad commented on #138
Hi @rpaschoal,

The ng-chat code i use is the example i found here:

https://github.com/rpaschoal/ng-chat-netcoreapp/tree/master/NgChatClient/ClientApp/src/app

The wierd thing is that if i remove all code related to the example and only import the module (No adapters, no components eg) i get the same behaviour.

I will try to reproduce this in a clean angular project.

Regards.

[2019-10-03 07:54] Inexad commented on #138
Hi again,

I could reproduce the problem and it appears to be because of lazy-loading. Everything works as normal when not including "ngchatmodule" in the lazy loaded module. After loading it into lazy-loaded module the bearer token for some reason gets removed from authentication header.

When importing chat-component and ngchatmodule directly into app.module it works. But not into lazy loaded mo

[2019-10-06 05:40] rpaschoal commented on #138
@Inexad this seems related: https://github.com/angular/angular/issues/20575

Some interesting read on this on another lib: https://github.com/dimpu/ngx-md/issues/159 and here a PR to address the issue on the same lib https://github.com/dimpu/ngx-md/pull/169

Long story short this seems to be by design on Angular and I am not too sure if we should remove the `HttpClientModule` registration from ng-

[2019-10-06 07:15] Inexad commented on #138
@rpaschoal I think removing the HttpClientModule would not be a good idea. If i understand this correct, the Angular handling these issues with the "forRoot()" and "forChild()" methods? Is it possible to implement forRoot() in ngchat?

Sadly it is a problem. The application is quite big and i'm trying to keep the different bundles down by lazy loading.

[2019-10-06 18:49] rpaschoal commented on #138
I see @Inexad , would you be keen on creating a fork of ng-chat and giving `forRoot` a shot? If that works all good we could release a patch with the changes.

[2019-10-10 13:55] Arnaudboubou opened #139 "Trouble doing custom css"
Hi, thank you for this chat component, but i have some trouble to custom the css.
I have put the link in `index.html`  like this `<link *ngIf="customTheme" rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(customTheme)'>`.
And add this in `ng-chat` tag `[customTheme]="'./ng-chat-custom.css'"``.
How do i have to write the css in this file?
Thank you?

[2019-10-14 06:29] Inexad commented on #138
Sorry for late reply @rpaschoal . Yes, that is maybe something i can do. I will have a look at it when i got some time over.

[2019-10-27 11:50] nesmrten opened #140 "Status indicator not updated after Participant chat window opened"
Hi there,

Thanks for the repo. I just encountered the issue with status color indicator not updating on participant chat window after friendlist updated. See the attachment.
![chat indicator](https://user-images.githubusercontent.com/14312037/67634103-35b16580-f8b8-11e9-89bc-101b239d94ab.PNG)

Best regards,
Beki Lutolli

[2019-10-29 20:59] jsmitjans opened #141 "Problem with installation of ng-chat"
Hello everyone.I'm new with angular.Excuse me for the silly question but I need a help with the installation of this module.I didn't have problems until the step **"And in your app.component.ts:"**
I don't know what else to do.What does it means in the instructions with "you will have to implement your own ChatAdapter" and where I should create it.Please help me and sorry for my english.

[2019-10-29 22:56] #141 closed

[2019-10-30 13:30] rejahrehim commented on #138
Stuck with the same issue. Waiting for the patch.

[2019-10-30 14:14] jsmitjans opened #142 "How this module works"
Where I can find the view of the directive <ng-chat> and it component?Someone can explain to me how the module works, because in the documentation it only says how to install it but not how to use it and adapt it to our needs.I don't understand what files i need to modify.Where I can find the components that use the main functions such as getMessageHistory. Please help me,I'm new with Angular and

[2019-10-31 16:47] shakthi-manai opened #143 "ng-chat.js:477 ng-chat component couldn't be bootstrapped."
This issue has been reported earlier but it is closed.
So i am raising the issue again.

ng-chat can't be bootstrapped without a ChatAdapter. Please make sure you've provided a ChatAdapter implementation as a parameter of the ng-chat component.

I have tried to use the example as is in my application.
except for that the component is not in the app-component class but a subclass called after login

[2019-11-06 05:36] tushar009 opened #144 "Mobile keyboard problem"
Chat box is hide when mobile keyboard is open.

[2019-11-06 17:21] rpaschoal commented on #144
Hi @tushar009 ,

Thank you for providing a reproducible link. It seems like a bug to me. This feature was recently introduced by @LuckyGStar so I'm wondering if @LuckyGStar would be keen to take a look into it?

Cheers!

[2019-11-06 17:24] rpaschoal commented on #140
Hi @nesmrten ,

Is your friend list fetching data via polling? If not you need to notify your adapter that the friends list has been changed.

Cheers

[2019-11-06 17:26] rpaschoal commented on #138
I'm running short on time these days but will be looking closely if @Inexad gets to push a fixing patch for it via a pull request.

[2019-11-06 17:30] rpaschoal commented on #142
Hi @jsmitjans ,

You're right, the documentation covers how to install the module and the available settings to integrate it with your application. There is no documentation on how it has been built apart from the code here on GitHub which is open source.

I do welcome pull requests from other developers but I have no plans on adding documentation on every single component that is part of this mod

[2019-11-06 17:31] rpaschoal commented on #143
Hi @shakthi-manai ,

In case you haven't, please check these repositories for further guidance:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

[2019-11-06 18:48] LuckyGStar commented on #144
Hi @tushar009 .

Please refer this pull request. In mobile cases, chat widget is designed to be hidden.

https://github.com/rpaschoal/ng-chat/pull/128

Please let me know if you have any questions.

Cheers!

[2019-11-07 00:44] tushar009 commented on #144
Hi @rpaschoal, @LuckyGStar
Thank you for your quick response,
i will check and let you know.

[2019-11-07 02:14] tushar009 commented on #144
Hi @LuckyGStar

I have enabled the flag "viewportWidthCalculationEnabled" true still, it is not working.
Please look the below link
https://stackblitz.com/edit/angular-qixwan?file=src%2Fapp%2Fapp.component.html

**Note** - Please be open link "https://angular-qixwan.stackblitz.io/" into the mobile browser

[2019-11-12 21:13] shakthi-manai commented on #138
Hello, I am having an issue using ng-chat in angular 8 based application .
The error is given below.
TypeError: Cannot read property 'pipe' of undefined
    at NgChat.fetchFriendsList (ng-chat.js:555)
    at NgChat.activateFriendListFetch (ng-chat.js:503)
    at NgChat.bootstrapChat (ng-chat.js:463)
    at NgChat.ngOnInit (ng-chat.js:421)
    at checkAndUpdateDirectiveInline (core.js:31909)
    at

[2019-11-14 04:09] ranjeethkrao opened #145 "Is it possible to get an event with destinataryId of the chat window from which the user is typing?"
I am using this in a scenario, where same two participants can chat on different 'topics'. So the 'friendsList' in my case is basically the various 'topics'. This makes the fields 'fromId' and 'toId' same. Hence I cannot differentiate to which 'topic' the message was sent (This info is needed in the backend to store the thread topic wise). So I am not able to get the chat window instance (basicall

[2019-11-15 02:41] nesmrten commented on #140
Thank you for your answer, i guess it was just a freelancer, who didn't know hot to properly implement chat :).

[2019-11-22 00:29] #133 closed

[2019-11-22 00:29] #142 closed

[2019-12-04 12:43] inzamam-idrees opened #146 "Recieve message function?"
How can I recieve message from server?

[2019-12-09 22:22] rpaschoal commented on #146
Hi @inzamam-idrees ,

Please check the example projects here on these repositories:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

Hope this help, cheers!

[2019-12-09 22:24] rpaschoal commented on #145
Hi @ranjeethkrao ,

What if instead of having the `fromId` and `toId` as the same values, you would define the `toId` as your topic ID? Then you could implement some logic on your back-end to figure where the messages should be sent to?

[2019-12-09 22:26] rpaschoal commented on #145
On this, when ng-chat triggers your adapter's `sendMessage` method, you should have the ID of both sender and destinatary within the Message payload.

[2019-12-10 04:47] inzamam-idrees commented on #146
Hi @rpaschoal,

Thanks for reply to me I have to implement the chat feature in my project. This package is very useful to me and I already read your mention examples but my problem is different.

I am not using 'ng-socket-io' package I have to use pusher to recieve messages and when user1 send message to user2 then user2 recieve the notification using the channel but I want to know how I can recie

[2019-12-14 01:45] anouar1991 commented on #146
Hi @inzamam-idrees,
Most probably you need to understand how pusher-angular works and implement a ChatAdapter that uses pusher-angular instead of ng-socket-io.
Read section ( ** [Implement your ChatAdapter](https://www.npmjs.com/package/ng-chat) ** )
Here's : [pusher-angular](https://www.npmjs.com/package/pusher-angular)
Cheers

[2020-01-10 06:56] ssubham commented on #132
Did you have got this issue resolved.?

[2020-01-10 14:26] sachinbasendr commented on #132
Yes,

Thanks

On Fri, Jan 10, 2020 at 12:26 PM ssubham <notifications@github.com> wrote:

--
*Sachin Basendra*
 Sr. Executive Developer
 www.flitwebs.com
<https://mailtrack.io/trace/link/7f81af63c6b0ad7f29ec0032125c960781dd3c5a?url=http%3A%2F%2Fwww.flitwebs.com%2F&userId=1177166&signature=b4043ab3ec82a9b4>

 sachin.b@flitwebs.com
  505-506 5th Floor,
 Mansarovar Plaza,
 Mansarovar, Jaipur
 302020,

[2020-01-12 11:53] lilling opened #147 "change title of group chat"
Hey!
You have a gr8 module here! (I'm the 92 ⭐️)

do you have an option to change the group chat title so it wouldn't show participants' names rather the topic we are discussing?

[2020-01-13 06:18] rpaschoal commented on #147
Hi @lilling ,  thanks!

Not at the moment. If you check the following class you will realize how the group title is currently set: https://github.com/rpaschoal/ng-chat/blob/master/src/ng-chat/core/group.ts

[2020-01-19 04:55] ranjeethkrao commented on #145
Thanks @rpaschoal, that is exactly how I ended up implementing eventually!
Just wanted to know if there was an event which would help me ease this logic.

Anyways thanks for your reply and great job on the ng-chat!

[2020-01-19 04:55] #145 closed

[2020-01-29 08:21] ssubham commented on #132
May you let me know how you did it as i am getting issue to integrate with my website?

[2020-01-29 08:28] sachinbasendr commented on #132
Hi @ssubham

You have to provide a ChatAdapter on it,Then it was ok

[2020-01-29 08:32] ssubham commented on #132
I have already used ChatAdapter(socketio-adapter) on it with extended chatAdapter.

[2020-01-29 08:41] sachinbasendr commented on #132
Can you share both code for html and ts?

[2020-01-29 08:41] ssubham commented on #132
May you share a piece of code how you made it integrated/worked?

[2020-01-29 08:48] aonstu opened #148 "ng-chat can't be bootstrapped without a ChatAdapter. Please make sure you've provided a ChatAdapter implementation as a parameter of the ng-chat component."
i'm trying to integrate ng-chat into my angular app and i run into this error.
has anyone encountered this before?
`
<div style="text-align:center">
  <h1>
    ng-chat demo
  </h1>

  <div>{{userId}}</div>
  <div class="form-box">
    <h3>Login</h3>

    <small>Pick a username to join a ng-chat node.js room. Hint: Try different browsers or incognito tabs.</small>

    <form>

      <label for="nam

[2020-01-29 08:51] aonstu commented on #132
[code]
the .ts file :
[code]

[2020-01-29 09:00] sachinbasendr commented on #132
Hi,
 You should try with static user id as  userId: 999 if it was ok
Then you want to put on <ng-chat> in ngIf condition on userId

[2020-01-30 00:57] rpaschoal commented on #132
Just re-opening this as there is an ongoing discussion here

[2020-01-30 10:14] aonstu commented on #132
tried passing a static userId : 999 .doesn't seem to work.still ng-chat cannot be bootstrapped.

[2020-02-07 18:51] FatiAb commented on #148
why ur'are lying ?

[2020-02-26 03:49] mhardaniel opened #149 "custom buttons"
add new buttons on friends window? thanks

screenshot from facebook chat window:
![tempsnip](https://user-images.githubusercontent.com/26666891/75310007-aaf46d80-588d-11ea-8184-61fa4dd0ba6f.png)

[2020-03-08 18:06] #148 closed

[2020-03-15 18:16] DenisBarzanov opened #150 "This component does not make use of reactive programming"
It does polling and behaves in strange ways.
When it gets passed a subscription of the messages, it resubscribes and polls the values. This is an extremely unwanted side effect.
The subscription is a subscription for a reason. It emits values continuously. Resubscribing in an interval is an extreme anti-pattern. It treats subscriptions like a wrapper for a promise.
Take other alternatives like for

[2020-03-19 02:45] #150 closed

[2020-04-09 11:39] ssubham opened #151 "enable option window in user chat"
Hi
I want to use group option. but not able to use it.
tried from reference/sample. but, not got success.

Also, want to use custom theme. Let me know how can i do this....

[2020-04-16 00:26] #132 closed

[2020-04-16 00:27] #140 closed

[2020-04-16 00:27] #143 closed

[2020-04-16 00:29] #146 closed

[2020-04-16 00:33] rpaschoal commented on #151
Hi @ssubham ,

For a group adapter example, you can check it out over here: https://github.com/rpaschoal/ng-chat-netcoreapp/blob/master/NgChatClient/ClientApp/src/app/signalr-group-adapter.ts

The above is the source code used by the demo.

For a custom theme, you will need to pass a valid asset URL to `customTheme` as described on the docs, and your CSS should start with a `custom-theme` selector

[2020-04-16 02:05] ssubham commented on #151
![point1](https://user-images.githubusercontent.com/3177615/79406449-bb36e800-7fb4-11ea-9cc5-05e387f7afb9.jpg)
Want this option to enable.

[2020-04-16 02:13] ssubham commented on #151
Have found one issue.
When, i send a message to an user first time. the chat window got open on recipient but, the message does not shown there.

![point2](https://user-images.githubusercontent.com/3177615/79406979-030a3f00-7fb6-11ea-85b4-1bde9a28b403.jpg)

[2020-04-23 09:00] glenelkins1984 opened #154 "ERROR: An accessor cannot be declared in an ambient context"
Hi

I've installed this library but it doesn't work! I just get the following errors:

[code]
I am using angular/core 8.2.14 and angular/cli 8.3.23

[2020-04-23 23:28] rpaschoal commented on #154
Hello @glenelkins1984 ,

What version of Angular and Typescript are you using? I've recently released `3.0.0` which included upgrades on a lot of dependencies, including Typescript.

Here are the recently released changes: https://github.com/rpaschoal/ng-chat/pull/153/files

I was about to merge this PR into `master` but was giving it a few days post release. Might be worthwhile waiting for your r

[2020-04-23 23:29] rpaschoal commented on #154
Hi @glenelkins1984 ,

ng-chat was recently upgraded to Angular 9 and it included a lot of dependencies upgrade too, Typescript included. Here are the changes that I am about to merge into `master`: https://github.com/rpaschoal/ng-chat/pull/153/files

If you don't want to upgrade your application at this stage, you could use one of the previous versions of ng-chat, version `2.0.5`.

Hope it helps,

[2020-04-27 19:58] #154 closed

[2020-04-27 20:47] glenelkins1984 commented on #154
@rpaschoal thanks!

[2020-05-01 14:56] rrpuente opened #155 "How to use firebase storage as backend to send/receive images?"
Good day, I read every doc I found, but I couldn't figure out how to  use firebase storage as backend to send/receive images. Is it possible in the current version?
I saw about writing a backend api for any type of files, but that is not an option for me, I have to use firebase storage as backend.

Thanks in advance.

[2020-05-04 23:44] rpaschoal commented on #155
Hi @rrpuente ,

I don't have any examples of how you would achieve an integration with firebase but I am confident you could write a custom adapter for that.

The examples that I have in place with this library can  be found here, hopefully they'll be helpful with what you're trying to achieve:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

[2020-05-05 06:31] rvkvino commented on #132
@aonstu  Did you solve this issue. Now same code as you mentioned I have tried but getting issue ng-chat can't be bootstrapped without a ChatAdapter. Please make sure you've provided a ChatAdapter implementation as a parameter of the ng-chat component.

[2020-05-05 07:33] rvkvino commented on #132
May I know how you have resolved this issue. Still I'm facing the issue.

[2020-05-05 09:26] rrpuente commented on #155
Good day @rpaschoal, first of all, thanks for your reply and also for this awesome product you've made public. I'm using it in a new development and I plan to keep using it.
Indeed I created a custom adapter for firebase, and the images or files can be uploaded to firestore, the issue is that the image is not displayed in the chat window, it just shows a link to a file instead of the image itself.

[2020-05-05 20:23] rpaschoal commented on #155
There is no images to thumbnail previews implemented at this stage @rrpuente so the answer is no.

All there is in place at this stage is a `linkify` pipe that transforms text URLs to links.

[2020-05-05 20:32] rpaschoal commented on #155
@rrpuente would you be keen on contributing and implementing this one?

The only changes I am planning on implementing at this stage as I am quite busy with other projects are:

- Planning on refactoring some of the code to break it down to smaller components as the Angular chat component itself is quite big at this stage.
- https://github.com/rpaschoal/ng-chat/issues/130

[2020-05-06 06:56] rrpuente commented on #155
Yes, Im willing to do it.
I just need some guidance, it will be my first time.

[2020-05-06 19:50] rpaschoal commented on #155
Awesome @rrpuente ,

I think it might be prudent to wait for the changes I am working on right now. I am refactoring the internals and splitting the friends list and chat items to their own components. It will be easier to manage things that way.

I've already started pushing the changes on branch `3.0.1`

[2020-05-07 18:44] rrpuente commented on #155
great, Ill do that.

[2020-05-07 23:22] rpaschoal commented on #130
The changes discussed here were released with https://github.com/rpaschoal/ng-chat/releases/tag/3.0.1

The changes were pushed with this pull request: https://github.com/rpaschoal/ng-chat/pull/156

[2020-05-07 23:22] #130 closed

[2020-05-07 23:25] rpaschoal commented on #155
@rrpuente The changes were released and merged for `3.0.1`. It should be much easier to manage what happens on a chat window as the visuals were moved into a separate Angular component.

I will be closing this pull request as the original topic had nothing to do with image thumbnail previews. Please feel free to open a new issue so we can track how you could implement and push a pull request for t

[2020-05-07 23:25] #155 closed

[2020-05-08 08:58] rrpuente commented on #155
@rpaschoal
Noted.
I implemented the firebase adapter before asking for the image/thumbnail story.
thanks!

[2020-05-08 14:24] rrpuente opened #157 "thumbnail previews"
@rpaschoal
I'm not sure if it will be acceptable, but it looks easy to achieve.
Just adding a new type of message (lets say Image=3), and modifying the template to have that type of message. It does not look greeaat, but it i an starting point.
<img width="301" alt="image" src="https://user-images.githubusercontent.com/31176623/81415162-58b2b100-9148-11ea-86ff-75d0fa689b77.png">

[2020-05-09 01:11] rpaschoal commented on #157
Looks like it is getting there @rrpuente ,

Looking forward to seeing the PR to add this functionality! 🚀

[2020-05-11 21:30] glglak commented on #132
I am facing same issue on dotnet 3.0 and I am trying to use Azure Signal R not the offline bot, so I used Azure Signal R as an adapter like the below
`  <ng-chat
                   [adapter]="signalRAdapter"
                   [groupAdapter]="signalRAdapter"
                   [userId]="12345"
                   [historyEnabled]="false"
                   [pollFriendsList]="true"

[2020-05-12 05:22] rpaschoal commented on #132
@glglak This seems to indicate that your `signalRAdapter` variable.property value is most likely null or undefined.

If you check this section you will see when ng-chat raises the message you are receiving: https://github.com/rpaschoal/ng-chat/blob/d812e92f7acdee4584126025a841806f9b423b61/src/ng-chat/ng-chat.component.ts#L295

[2020-05-17 01:24] rpaschoal commented on #157
Just linking the pull request here: https://github.com/rpaschoal/ng-chat/pull/158

[2020-05-20 03:16] glglak opened #161 "When two participant chat, first message trigger the chat window of second participant to be opened but message not delivered, after second message, message get delivered"
I am following copy/paste examples with simple tweaks to the backend, and I got an issue that message on chat first time get delivered to the participant and the chat window open but the message doesn't appear, after the second message from participant A, the messages start to appear on chat windows

Type Script Implementation
[code]
Chat hub Implementation

[code]

[2020-05-24 20:48] rpaschoal commented on #110
Hi @Nesbox314 ,

I've been thinking about this one and if we could refactor the `ChatAdapter ` to an interface.

The reason why we have an abstract class in place instead of an interface for the adapter is that we want to expose these runtime bind methods and expose it to the users of ng-chat: https://github.com/rpaschoal/ng-chat/blob/d812e92f7acdee4584126025a841806f9b423b61/src/ng-chat/ng-chat.co

[2020-05-24 20:48] #110 closed

[2020-05-25 06:18] rpaschoal commented on #157
This has been released with 3.0.2 @rrpuente

[2020-05-25 06:31] rpaschoal commented on #161
Hi @glglak ,

You haven't implemented the `getMessageHistory` method for what I can see. Once the window is opened, it will try to fetch the message history for the user that is triggering the initial message.

This also assumes that the first message is already persisted on your database level before you push the notification to the receiver.

If you don't really need a persisted history on your

[2020-05-25 06:33] rpaschoal commented on #161
Hi @glglak ,

You haven't implemented the `getMessageHistory` method for what I can see. Are you sure you have the `historyEnabled` option disabled?

[2020-05-29 07:18] #157 closed

[2020-06-03 08:45] fouzianigarsultana commented on #147
Hello,
I have tried ng-chat and am new in socket.io world. I am trying to create friendlist with specific user group whose data will render from database. But I am not abling.Would please advice me my list is like this:
`router.get("/chat", (req, res, next) => {
      ALUser.find({
          $and: [{
              uniname: {
                '$regex': req.query.uniname,
                '$options':

[2020-06-03 12:25] fouzianigarsultana opened #162 "create friendlist using db query data"
Hello,
I have tried ng-chat and am new in socket.io world. I am trying to create friendlist with specific user group whose data will render from database. But I am not abling.Would you please advice me my list is like this:
`router.get("/chat", (req, res, next) => {
ALUser.find({
$and: [{
uniname: {
'$regex': req.query.uniname,
'$options': 'i'
}
},
{
dept: {
'$regex': req.query.dept,
'$options': '

[2020-06-04 04:35] #162 closed

[2020-06-11 06:19] #161 closed

[2020-06-14 13:03] pairmix opened #163 "Question: Is it a private chat ?"
Is it a private chat / room with 2 people only ?
Regards

[2020-06-17 05:45] sandys6294 opened #164 "How to implement many to many chat window"
My problem is when I am creating a user using your command prompt I am able to create one user per chrome tab. But i want to create more than one user from the same tab and the communication should be based on the UserId instead of ConnectionId which i have changed but then also I am facing issue. Please help me with this genius.

[2020-06-19 01:33] rpaschoal commented on #163
Hi @pairmix ,

Yes, you can have a private chat with only 2 participants in it. You can check it out on the demo page too: https://ng-chat.azurewebsites.net/

[2020-06-19 01:33] #163 closed

[2020-06-19 01:37] rpaschoal commented on #164
@sandys6294 I am unsure on how to help, but as far as I could understand from your message, I believe ng-chat might not be the best tool to solve your problem. This module was designed to be used by only one user per window/tab.

[2020-06-19 01:37] #164 closed

[2020-06-25 07:32] MamartinBSW opened #165 "Error install in Angular7"
ERROR in node_modules/ng-chat/ng-chat/components/ng-chat-friends-list/ng-chat-friends-list.component.d.ts(30,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/ng-chat/ng-chat/ng-chat.component.d.ts(26,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/ng-chat/ng-chat/ng-chat.component.d.ts(27,9): error TS1086: An accessor cannot

[2020-06-26 01:58] rpaschoal commented on #165
This module was upgraded to Angular 9 with release https://github.com/rpaschoal/ng-chat/releases/tag/3.0.0

You might be able to get it working with version https://github.com/rpaschoal/ng-chat/releases/tag/2.0.5 but I suggest you just upgrade your application.

[2020-06-26 01:58] #165 closed

[2020-06-26 07:30] MamartinBSW commented on #165
Thanx  @rpaschoal

I install this versión and now
![Captura de pantalla 2020-06-26 a las 9 29 44](https://user-images.githubusercontent.com/52775528/85832048-a7b3b480-b78f-11ea-8b6c-b0d469ee8cf8.png)

`ERROR in src/app/components/perfil/perfil.component.ts(25,27): error TS2307: Cannot find module 'my-adapter'.`

Thnx!

[2020-07-04 10:40] calambrenet opened #166 "How can i locale messages dates?"
By default, messages dates show in us format like '7/4/20, 11:41 AM'. How can i change that format to spanish, for example.
Thanks

[2020-07-19 10:06] victorz-airsoft opened #167 "Unread messages indicator in chat window and chat participants list does not updates when "MessagesSeen" triggered"
Hi, first of all thank you for the greate package, it's very useful in our application.

Recently we have discovered the issue with "unread messages indicator" in chat window and chat participants list - when "MessagesSeen" event is triggered, they don't get updated and continue to grow. Update become seen only after we close and reopen the chat window. Put some screenshots for the issue.
![messag

[2020-07-19 10:23] victorz-airsoft opened #168 "MessageSeen event is not triggering on new message read, if did not answer previous messages"
Hi, we have got another small issue - if we don't write the reply, when getting the new messages in the opened chat window, "MessagesSeen" ebent does not trigger, when we click the "Type a new message" input. Event will trigger only if we have answered the previous messages by our own message, in other cases it does not trigger. Put some screenshots for the issue

![messageSeenWasTriggered](https:

[2020-07-22 20:41] rpaschoal commented on #168
Closing this as a duplicate of https://github.com/rpaschoal/ng-chat/issues/167

[2020-07-22 20:41] #168 closed

[2020-07-22 20:44] rpaschoal commented on #167
Hi @victorz-airsoft ,

Thank you for raising this. I couldn't reproduce it on the online demo but I'll verify locally as I think the online demo is running a few versions behind from the most recently published package.

[2020-07-22 20:45] rpaschoal commented on #166
Hi @calambrenet ,

This isn't currently implemented. Pull requests are welcome, cheers.

[2020-07-22 20:47] rpaschoal commented on #138
With the package now running on Angular 9, could any of you confirm this is still an issue? @Inexad @rejahrehim

[2020-07-22 21:06] rpaschoal commented on #167
Hi @victorz-airsoft ,

I've just tested locally with 3.0.3 and I couldn't reproduce. My messages counter was resetting as soon as I was clicked or tabbed a chat window into focus.

Could you confirm which version of ng-chat you are using, which base adapter type (Default or Paged) and perhaps provide a sandbox link (plunkr or similar) with the issue?

[2020-07-24 09:16] victorz-airsoft commented on #167
Hi, thanks for reply. We use the 3.0.3. We will check everything again, maybe some conditions of our application have cause this issue. Thank you anyway

[2020-08-15 07:36] #167 closed

[2020-08-23 16:31] glenelkins1984 opened #169 "How to implement onMessagesSeen?"
Hi

I've got a custom history method to pull messages stored in a database from a php api, this all works fine as below:

[code]

As you can see, i set the dateSeen to null so i can get the number appearing and your document states an event is fired when a message is seen "onMessagesSeen" - but you don't explain how to implement this event? Just adding onMessagesSeen() to my adapter doesn't do any

[2020-08-23 17:00] #169 closed

[2020-08-28 17:12] floxcristian commented on #144
Same problem here. 😟

[2020-08-28 19:44] floxcristian opened #170 "Create group doesn't add the emiter participant to the chattingTo array"
Hi guys.
+ The `groupCreated(group: Group): void` method doesn't add the user emiter to `chattingToArray` group.
+ Due to the above is that the emiter `displayName` doesn't show on the chat window send when you send a message to another user.

![image](https://user-images.githubusercontent.com/28737734/91609349-389c3d00-e945-11ea-9424-4f367ca2a87a.png)

[2020-08-28 19:48] #170 closed

[2020-09-17 10:37] kamleshdarteweb opened #171 "how to use SignalRAdapter and connect with php"

[2020-09-26 17:06] canbrian opened #172 "unable to see upload file button"
Reproduce Steps:
1) clone the demo code v3.0.3
2) get the chat module running in
Angular CLI: 10.0.5
Node: 12.16.3
OS: win32 x64
SignalR 1.1.0
3) Pick up one mockedParticipant to open chat window

Expected: an upload button exists to the right of the bottom bar or somewhere
![upload-button](https://user-images.githubusercontent.com/29160207/94346210-1572b500-fff9-11ea-96c3-1fecc47c0622.jpg)

Actua

[2020-09-26 20:25] canbrian opened #173 "Clarification of Offline bot instance vs SignalR instance comments on template page"
Hi Rafael,
I'm trying to integrate the ng-chat to my angular application. The only feature I want to implement is to have one-on-one instant communicate between users. And I don't use Azure SignalR service in my case.
Here are a couple of quick questions for you.
1) The template contains two instances, Offline bot and SignalR. Can you please clarify the use case?
2) In my real project, should both

[2020-09-26 22:03] rpaschoal commented on #172
Hi @canbrian ,

Have you supplied a `fileUploadUrl` argument to your ng-chat instance?

[2020-09-26 22:07] rpaschoal commented on #173
Hi @canbrian ,

1. Those are just adapter implementation examples. The offline bot one wouldn't fit any production scenario as it is a really dummy "bot" that replies you back with the same message once posted after a time. The SignalR adapter would fit more production scenarios, it is an example of how to exchange messages and data with a backend plane of some sort.
2. You most likely will have t

[2020-09-27 10:06] canbrian commented on #172
Thanks, I got it by providing this argument.

[2020-09-27 10:06] #172 closed

[2020-09-27 10:37] canbrian commented on #173
Hi Rafael,
First of all thank you so much for clarifying my questions. The package is great and really useful in our application.
For beginner's practice, I did cleanup to the template, applicable for support 1one and group chat scenario.
Note: signalRAdapter was declared as groupAdapter.

Please take a look and comment in case I'm crawling along a wrong path.

<div class="container">
    <ng-chat

[2020-09-27 11:11] canbrian opened #174 "System.Text.Json.JsonElement' does not contain a definition for 'currentUserId'"
after integrated ng-chat to my angular app

1) supplied [pollFriendsList]="true" in template
2) in component.ts, userId: string = " " or whatever a string like "xxxxxx"
3) make sure SignalR connect to hub - connected !
4) remove complaint Observable.throw by changing it to throwError in listFriends() method

listFriends(): Observable<ParticipantResponse[]> {
    // List connected users to show in

[2020-10-13 08:37] LucaC98 opened #175 "i have a problem with multichat"
When send a message 1 to 1 I haven't problem not even recover history ofchat, but if open a socket with a second user don't switched the channel and create problem sending message.
The destinatary don't recived message despite the message arrived on the socket(topic/chat).

 let stompClient = this.webSocketService.connect();
        stompClient.connect({}, frame => {

            // Subscribe to n

[2020-10-14 08:31] chiragchande opened #176 "I have problem with ng-chat it says error Can't bind to 'adapter' since it isn't a known property of 'ng-chat'."
when I was join the room and this kind of error
![ng-chat](https://user-images.githubusercontent.com/46920151/95963767-b77e0400-0e25-11eb-8ff4-ef815f01bd04.PNG)

[2020-10-14 08:32] chiragchande commented on #176
please help me ! I got stcuk now !!

[2020-10-15 01:22] rpaschoal commented on #176
Hi @chiragchande

Please refer to these example projects:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

Next time it might be a good idea to set up a reproduction sandbox environment or plunkr before reporting an issue so there's more details about the code that might be failing.

[2020-10-15 01:22] #176 closed

[2020-10-15 01:23] #173 closed

[2020-10-15 01:24] rpaschoal commented on #171
Hi @kamleshdarteweb ,

You will need to write your own adapter implementation.

Here are some examples using .net core and nodejs:

https://github.com/rpaschoal/ng-chat-netcoreapp
https://github.com/rpaschoal/ng-chat-nodejs

[2020-10-15 01:24] #171 closed

[2020-10-15 11:56] chiragchande commented on #176
https://github.com/rpaschoal/ng-chat-nodejs  this one

[2020-10-17 07:10] iamravisankar opened #177 "getMessageHistory"
All messages
 shown on left side only, Need to display "from messages" on right side

![download (5)](https://user-images.githubusercontent.com/28215921/96330786-da9ef280-1075-11eb-8522-b455c1fd9d84.png)

[2020-10-17 08:08] #177 closed

[2020-11-13 08:45] buymybm100 commented on #151
@ssubham,  to enable Groups , you need these steps:

1) implement the IChatGroupAdapter interface in your adapter (eg. SocketIOAdapter.ts)

2) specify the   [groupAdapter] attribute in <ng-chat>

The examples are clear on the above points, the missing link is on the server side.
Chat Participants must have a 'participantType' = ChatParticipantType.User

3) If you are running the **ng-chat-nodejs**

[2020-11-26 09:36] teocto opened #178 "How to trigger getMessageHistory from my ts?"
How to trigger getMessageHistory from my ts? I'm doing an event after user clicking on contact, then stop downloading history, do my action, then start to get history. Is it possible to do this?

[2020-11-26 19:27] wandersomMv commented on #140
thank you for answer.

[2021-01-14 03:42] morgangit opened #179 "Integrating with Slack API"
Apologies for just posting a question here - but before I dive into this, has anybody tried to integrate this with Slack? I mean to have messages sent to some existing userID sent to a Slack channel and have replies posted on that channel appear as replies by that userID in browser instance.

Just wanted to check if you know of any reason that could not work.

[2021-01-14 20:22] rcampion opened #180 "First message Opens window but message is not displayed"
First message Opens window but message is not displayed.

Testing with Chrome and Firefox.

[2021-01-15 10:17] teocto commented on #180
Same problem

[2021-01-17 14:23] ermarkar commented on #132
In my case, i was returning **null** from the **listFriends** and **getMessageHistory** methods of adapter implementation, so I changed it to

[code]

[2021-01-21 15:45] rcampion commented on #180
I came up with a workaround.

HTML(add #ngChatInstance)
    <ng-chat #ngChatInstance
      [adapter]="adapter" [userId]="userId" [title]="title" [isCollapsed]="isCollapsed"
      [browserNotificationsEnabled]="browserNotificationsEnabled"> </ng-chat>

In the component that instantiates the chat adapter ...
    @ViewChild('ngChatInstance', { static: true }) protected ngChatInstance: IChatController

[2021-01-26 22:41] revatim opened #181 "Custom Search Friends"
Is it possible to search on the basis of fields other than user name ?
For example, my User has a field project name array and I want to be search friends on the basis of project name as well.

[2021-01-28 06:35] neeraj-anand commented on #111
Any update on adding video call icon?

[2021-01-28 08:23] neeraj-anand commented on #111
@rpaschoal Any update on adding video call icon?

[2021-01-28 08:23] neeraj-anand opened #182 "There is no option of Video calling."

[2021-01-31 01:35] cesguto commented on #86
I'm having the same problem, I can't test the changes I make.

1. Clone fork
2. cd src
3. npm link
4. cd ..
5. cd demo
6. npm link ng-chat
7. cd offline_bot
8. npm install
9. ng serve

My changes do not apply

[2021-02-01 06:10] keithlim opened #183 "How do i implement customtheme"
can anyone help me in loading the custom theme for ng-chat? Im not exactly sure the proper way of inserting the css into the code, what i've done so far isnt working. Any help will be greatly appreciated!

In my _app.component.html_ im using

[code]

and in my _app.component.ts_ im using

[code]

and in my _ng-chat.css_ im using

[code]

[2021-02-08 06:35] agyepong opened #184 "User Chat Window Does not Display on a Device In Portrait Mode"
Is it possible to change the Window size or scroll? In landscape mode the both the friendlist window and user chat windows are displayed but the user chat window is not displayed in portrait mode. See attached image. It appears being able to change the Window size or scroll the content will help.

![ng-chat-window-lanscape-mode](https://user-images.githubusercontent.com/16005805/107183407-c11b1100

[2021-02-12 01:09] rpaschoal commented on #181
Hi @revatim ,

It's not possible at this stage, all it does is a simple filter on the friends list data. Perhaps we could extend the adapters to support a custom search like this.

I am not actively contributing to this project nowadays but pull requests are welcome.

[2021-02-12 01:11] rpaschoal commented on #184
Hi @agyepong ,

The ng-chat component won't render if there isn't enough viewport for it to show at least one chat window.

For your mobile users you might want to implement a different UI that is mobile friendly.

[2021-02-16 02:00] keithlim opened #185 "Status indicator on chat window not syncing with friendlist"
Hi there Rafael,
Hats off to you for creating this awesome component, helping me immensely with my internship. I'd like to check on a possible bug, where as mentioned in the title, there seems to be an issue with the updating of the status color. I've seen #140, and am positive my friendlist is fetching data via polling, such that the friendlist status indicators change color successfully. But the

[2021-02-18 17:09] duzenko commented on #87
@rpaschoal Is it still the case? What is the `dateSeen` for?

[2021-02-20 10:22] Wallipasha opened #186 "How to add send Message button after the input text."
If a send message button given user can click using mouse and send message, currently file upload option confuse users.
![image](https://user-images.githubusercontent.com/62461696/108592319-5b0e9080-7393-11eb-8518-5d002b380ef9.png)

[2021-03-03 13:31] duzenko commented on #183
@rpaschoal ?

[2021-03-03 14:25] duzenko commented on #29
@rpaschoal please reopen
still no good way to open chat from the left side

[2021-03-18 20:54] rpaschoal commented on #183
Hi @keithlim and @duzenko ,

Check this file as an example on the styles that can be customized: https://github.com/rpaschoal/ng-chat/blob/master/src/ng-chat/assets/themes/ng-chat.theme.dark.scss

If your custom styles are not reflecting your `ng-chat.css` file it could be that it is failing to load the `customTheme` path you are supplying. In the end it just tries to load it as an `href`. You can

[2021-03-18 20:55] #174 closed

[2021-03-18 20:56] rpaschoal commented on #174
Demos are available on the main README: https://github.com/rpaschoal/ng-chat

Sounds more like implementation details.

[2021-03-18 20:56] rpaschoal commented on #178
Demos are available on the main README: https://github.com/rpaschoal/ng-chat

Sounds more like implementation details.

[2021-03-18 20:56] #178 closed

[2021-03-18 20:57] rpaschoal commented on #179
Hi @morgangit ,

This should be feasible if you have an API orchestrating the integration for you behind the scenes. You might be able to do it directly from your Angular application as well but that could expose your Slack API key I think.

[2021-03-18 20:58] rpaschoal commented on #186
Hi @Wallipasha ,

This hasn't been implemented for ng-chat. Pull requests are welcome.

Cheers

[2021-03-18 21:00] rpaschoal commented on #185
Hi @keithlim ,

No worries, sorry about the delay in replying. I haven't been actively looking or contributing to this repository these days.

If you have `pollFriendsList` enabled, the friends list should be querying your selected Friends endpoint on a cycle basis. I would check there to see if the endpoint results are reflecting the correct status.

Hope this helps. Cheers!

[2021-03-19 03:08] morgangit commented on #179
Ok, thank you @rpaschoal.

[2021-03-19 03:08] #179 closed

[2021-04-15 06:02] MPTA commented on #101
hello , i have implemented my logic api and get messages from server but all messages shown in the left side , (the sender and receives Id already set and is correct information but shown is only in the left side)

[2021-04-28 13:11] saiesh-myrvsolution opened #187 "When i assign userId as custom socket id (eg.my database username) i not receiving messages at the other end but when i assign socket.id it everything works fine!"

[2021-05-06 01:11] julianokunha commented on #187
i same problems.

[2021-05-06 01:48] julianokunha commented on #180
Same problem

[2021-05-06 02:37] julianokunha commented on #180
If possible send the code because your explanation was difficult to understand.

[2021-05-06 20:52] rcampion commented on #180
`import { Injectable } from '@angular/core';
import { BehaviorSubject } from 'rxjs';
import { IChatController } from 'ng-chat';

@Injectable({
  providedIn: 'root'
})
export class DataSharingService {
    public ngChatInstance: BehaviorSubject<IChatController> = new BehaviorSubject<IChatController>(null);
    public isActiveContactsReady: BehaviorSubject<boolean> = new BehaviorSubject<boolean>(fal

[2021-05-06 22:45] rcampion commented on #180
`    <ng-chat #ngChatInstance
      [adapter]="adapter" [userId]="userId" [title]="title" [isCollapsed]="isCollapsed"
      [browserNotificationsEnabled]="browserNotificationsEnabled" [emojisEnabled]="emojisEnabled" [fileUploadUrl]=fileUploadUrl> </ng-chat>
  `

[2021-05-06 22:50] rcampion commented on #180
`import { ChatAdapter, IChatGroupAdapter, Group, Message, ChatParticipantStatus, ParticipantResponse, ChatParticipantType, IChatParticipant, MessageType, IChatController, User } from 'ng-chat';
import { Observable, of, BehaviorSubject, Subject } from 'rxjs';
import { delay, finalize, takeUntil } from "rxjs/operators";
import { ChatService } from './chat.service';
import { Injectable } from '@angul

[2021-05-06 22:51] rcampion commented on #180
`import { Component, OnInit, Output, EventEmitter, AfterViewInit, OnDestroy, ViewChild, AfterContentInit, ChangeDetectorRef } from '@angular/core';
import { HttpClient, HttpHeaders, HttpParams } from '@angular/common/http';
import { Router, NavigationEnd } from '@angular/router';
import { User } from '../../core/models/user';
import { ChatAdapter, IChatController } from 'ng-chat';
import { Cookie

[2021-05-06 23:29] rcampion commented on #180
I posted the code on this github issue.

Basically, in my code, it is the HeaderComponent that instantiates the chat
adapter.

In the header.component.html see the #ngChatInstance reference for the
ViewChild:

<ng-chat #ngChatInstance ...

See the @ViewChild in HeaderComponent typescript.

I have a data sharing service See DataSharingService.  It gets injected
when the HeaderComponent is construct

[2021-05-10 15:21] amey2792 opened #189 "getMessageHistory get data from http request"
getMessageHistory returns a observable which is not working when i call a Http request

how can i manage to bind the messages from coming from http call

[2021-05-10 15:26] amey2792 opened #190 "how can i paginate the messages"
how can i paginate the messages on a chat window

when scroll to top can i load new messages ??

[2021-05-12 20:53] rpaschoal commented on #190
Hi @amey2792 ,

Check out this example: https://github.com/rpaschoal/ng-chat/blob/master/demo/offline_bot/src/app/demo-adapter-paged-history.ts

Hope it helps!

[2021-05-17 06:58] sa2ra opened #191 "Can't resolve 'ng-chat/ng-chat/core/guid'"
hello,
I have an issue when importing guid:
 import {Guid} from 'ng-chat/ng-chat/core/guid';
I was trying to do a group adapter so it might be a wrong way to do it
my class is:
[code]
I was only trying to implement a demo first and I'm new at ng-chat.
is there a way to fix it? thank you

[2021-05-17 07:00] sa2ra commented on #191
I just found out that I should be importing a custom class called guid
sorry for the inconvinenc

[2021-05-17 07:00] #191 closed

[2021-05-20 12:17] #187 closed

[2021-06-09 04:07] sonali98 opened #192 "How to customize chat window like shown in attached image"
Also i want to add image icon in title
![Screenshot 2021-06-09 093540](https://user-images.githubusercontent.com/29220755/121291621-33254780-c906-11eb-9aa9-4b8e3aabc517.png)

[2021-07-07 12:11] lsoaresesilva opened #194 "Problem with creating a group programatically and sending message to it."
Hello, first congrats on this component!!

I have created an instance of a Group object and passed it in the triggerOpenChatWindow method. Visually the group chat is presented, but the method groupCreated is not invoked.

Moreover, if I send a message programmatically to the group (I manually assigned an id to the group and used this data in the toId property of the message object), it does not ap

[2021-07-08 00:44] rpaschoal commented on #194
Hi @lsoaresesilva , thank you!

I don't think `triggerOpenChatWindow` supports receiving a group. Perhaps it is visually working because both `User` and `Group` are/implement `IChatParticipant`. I don't think support for opening a group chat window was ever implemented.

I'm not exactly sure what you are trying to implement but this adapter example might help: https://github.com/rpaschoal/ng-chat-

[2021-07-08 00:47] rpaschoal commented on #192
Hi @sonali98 , you might want to implement a `customTheme` for some of the styling. I am not sure if you will be able to achieve 100% the same result as the image you have shared.

Pull requests are welcome for extending the functionality of this repository/module.

[2021-07-08 00:47] #190 closed

[2021-08-12 17:08] Interscope19 commented on #155
@rrpuente  can u share ur code implementation about firebase to get an idea :(?

[2021-08-13 06:00] rrpuente commented on #155
Hi @Interscope19, the code I wrote was merged. If you search through the published code you will find it. However, if you cannot find it let me know.

[2021-08-13 15:59] Interscope19 opened #195 "Firebase Implementation"
Good day i am trying to implement this package to my proyect but im using firebase im able to show the friendList and a list of messages but  it doesnt open the chat when new message is received or update the  chat window when user types... can u help me about?
this is my current implementation in message history
![image](https://user-images.githubusercontent.com/82596162/129386295-50529292-abf2-4

[2021-08-23 15:22] Theinfinix500 commented on #138
we are facing the same issue. the ngchatModule resets the interceptor configuration. we will appreciate if you could remove the HttpClientModule from the imports of the library and let the developers add it to there modules.

[2021-09-20 17:01] Arvo-Rios14 opened #196 "How to translate the label "Add People""
I am translating the chat labels, but "Add People" is not included in "Localization". How could I translate it?
![image](https://user-images.githubusercontent.com/79176952/134043213-fa524e60-4d95-4c29-9ec4-816dce6acaf3.png)

[2021-09-21 20:33] rpaschoal commented on #196
Hi @Arvo-Rios14

It seems that label is not included in the Localization interface: https://github.com/rpaschoal/ng-chat/blob/6f67caf2911f339a9f118749719d6f33156ec1da/src/ng-chat/core/localization.ts

You could open a pull request adding this support and we could release a patch or minor version.

Cheers

[2021-12-20 17:32] fluttercid opened #197 "Html tag does not show up!!!"
Hi Rpaschoal,
I appreciate your implementing this.
If I put <test> in an input window and when I sent it, an empty dialog is showed up in a chat window.
How can I display this text in a chat window?
Thank you for your answer in advance.

[2021-12-28 08:38] LegendaryJanitor commented on #144
The problem is still persistent. Any idea if/when it may be fixed? Or possibly pull out the entire PR given it broke the code and made it unusable on mobile?

[2021-12-29 02:14] LegendaryJanitor commented on #144
![ng-chat code](https://user-images.githubusercontent.com/75004547/147620847-7e3006bf-bb83-45a3-a5a5-9409a8f5b5c9.PNG)

@rpaschoal, After looking closer at this bug and the code it appears that the bug is coming from the NormalizeWindows() function inside ng-chat component.  When the message input on a chat has focus the mobile keyboard will appear. This triggers a resize event and the subsequent

[2022-01-07 17:29] fluttercid commented on #197
Hi Rpaschoal,
The last comment isn't a bit clear. 😀
When I put <text> to an input window and sent it, an empty dialog is showed up in a chat window;
however, a receiver can see the message through a chat server.
Is there any solution for it?
Thank you for your answer in advance.

P.S.: Does it have a security concern?

[2022-01-17 04:07] elrondfeng opened #198 "onMessageReceived"
I am using Angular, after the message is sent, I can see from log that the receiver's client side have the new message, however, the receiver's ui is not showing the new message.

I haven't call onMessageReceived cause I don't know where to call it in Angular? should I call it from the adapter? if so, the adapter in angular is just a service, in which method should I call the onMessageReceived ?

[2022-01-21 15:38] fazGuitar opened #199 "Download a file"
Hi i am using Angular 11 and actually i am configuring your fantastic chat inside an application.
I have a question, when the sender upload a file (i am using a custom uploadAdapter that implements IFileUploadAdapter to call a specific API given by backend) how can the receiver download the attachment? There is no clickable element in the message that is seen by the receiver.

![image](https://use

[2022-01-26 22:19] #198 closed

[2022-01-26 22:20] elrondfeng commented on #198
I figured it out. thanks!

[2022-01-27 12:05] elrondfeng opened #200 "ng build error"
I forked the repo can try to build ng-chat locally. when I do ng build, I got this error:
[error] Error: Cannot find module '@angular-devkit/build-angular/package.json'

what is the normal step to build ng-chat locally?

[2022-01-27 16:37] devendralohar opened #201 "Pagination method not calling on scroll up."
this getMessageHistoryByPage(destinataryId: any, size: number, page: number): method is not calling when I scroll move down to up to load more history data.
here is my configuration
<ng-chat #ngChatInstance [adapter]="adapter" (onMessagesSeen)="messageSeen($event)" [historyEnabled]="true" [historyPageSize]="10" [hideFriendsList]="true" [emojisEnabled]="true" [userId]="userId"></ng-chat>

[2022-02-12 01:15] Thalysonb opened #202 "Add icons to show message status"
I'd like to be able to see the status of the message, represented by an icon, on the screen. Something like:

![Captura de Tela 2022-02-11 às 12 08 45](https://user-images.githubusercontent.com/34477333/153689840-c974874f-073c-49b9-b93d-f6709a752cbc.png)

These icons can be passed by parameters to ng-chat component, with the status type. I thought on something like this for example:

[
     {

[2022-02-21 17:39] narensaini opened #203 "Paged Friend List Component"
Just like we have PagedMessageHistory for individual chat windows, I believe there should be Paged Friend List to load more friends on demand. We should also allow to lookup remote server for friends.
Please let me know if I can help.

[2022-03-07 15:11] JorgelGtzGtz opened #204 "Question Asp.Net Web API 2"
Hello I tried to use the ng chat in web api 2 but I can't I received error from the ng chat not from the web api application I used the "Microsoft.AspNet.SignalR.Core" 2.4.3.0, The is not supported to web api application ?

This is the message

Error while starting SignalR connection: Error: Detected a connection attempt to an ASP.NET SignalR Server. This client only supports connecting to an ASP.

[2022-03-08 10:16] avmesquita opened #205 "@aspnet/signalr deprecated"
@aspnet/signalr deprecated.

There will be implementation to @microsoft/signal?

https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-6.0&tabs=visual-studio

https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-6.0

[2022-03-08 11:55] avmesquita commented on #205
There is:

import { MessageType } from './message-type.enum';
export declare class Message {
    type?: MessageType;
    fromId: any;
    toId: any;
    message: string;
    dateSent?: Date;
    dateSeen?: Date;
}

But message is sending with "msg" property and not "message".

[2022-03-08 12:14] avmesquita commented on #205
![image](https://user-images.githubusercontent.com/646271/157236153-95b6fe82-9f5c-42e7-9ee0-5fce611c8401.png)

[2022-03-09 18:37] garyro opened #206 "dark theme"
Recently I upgraded an older project from ng 9 to 13 I'm havin an issue using the dark-theme.  The following is the error:
Error: src/app/chat/chat.component.html:5:4 - error TS2322: Type '"dark-theme"' is not assignable to type 'Theme'.

LIght theme or even custom theme is fine. Any help is appreciated

[2022-03-30 23:23] rcampion opened #207 "Test if Participant chat window is open."
Is there a way to test if a user's chat window is open?

[2022-03-31 23:51] rpaschoal commented on #207
Hi @rcampion ,

You should be able to keep a state from your application by listening to both `onParticipantChatOpened` and `onParticipantChatClosed`.

[2022-04-01 02:01] rcampion commented on #207
How do I listen to these events?

On Thu, Mar 31, 2022 at 7:51 PM Rafael Carvalho ***@***.***>
wrote:

--
Richard Campion
***@***.***
http://www.richardcampion.com
http://www.linkedin.com/in/richardcampion

[2022-04-04 22:09] rcampion commented on #207
Ok.  I figured out hew to listen to  onParticipantChatOpened and onParticipantChatClosed.

But Browser A will not know if Browser B has a chat window opened.

I will need to store this state info in either a database or use WebSocket

[2022-04-04 23:07] rcampion opened #208 "Double message when using getMessageHistory"
I managed to get a reference to the ngChatInstance from within the chat adapter.

I call triggerOpenChatWindow when I receive a message.

Now I have implemented getMessageHistory and getting the data from a web service.

When the first time a chat participant window is opened, I am getting two messages instead of one.

[2022-04-04 23:24] rcampion commented on #208
This only happens when the chat window has not been opened yet.

[2022-04-07 13:27] rcampion commented on #208
Fixed by saving state using onParticipantChatOpened and onParticipantChatClosed.

The problem was that I send a WebSocket message and save history to database within sendMessage and I call onMessageRecieved after I receive the WebSocket message.

Now I use a DataSharing service to maintain participant state and only call triggerOpenChatWindow when chat window is closed.  Only call onMessageRecieve

[2022-04-07 13:30] rcampion commented on #207
I realized Browser B does not need to know about Browser A.

All set.

Working fine.

https://www.zdslogic.com

[2022-04-07 14:44] #180 closed

[2022-04-07 14:44] #208 closed

[2022-04-07 14:45] #207 closed

[2022-04-07 15:03] rcampion commented on #129
I would like this feature.

[2022-04-18 17:27] shaunzeng opened #209 "how to delete a friend from your chat list ?"
Is there way on the UI to delete a friend from your friends list ?

[2022-04-19 01:23] FractalMind commented on #198
Please, always share for people behind

[2022-04-20 22:23] FractalMind opened #210 "How to refresh conversation?"
I want to sync the SAME participant across all Instances. If I open 2 instances of the same participant and I write something I can refresh the history storage of the second instance but I won't show any changes. When I call `this.getMessageHistory( FK_user_to_id );` it WONT execute the function.

![2022-04-20_18-17](https://user-images.githubusercontent.com/5481933/164334261-d718dc8f-c67a-4b12-91

[2022-05-23 01:08] styleanew commented on #200
I did npm install --legacy-peer-deps and it worked and then I got other errors.

[2022-06-22 09:12] ShatteredCrown commented on #210
I was recently playing around with this module and found your question:
Once you extend the adapter class you have  access to amethod called OnMessageRecieved. I performed asynchronous polling in the frontend to check for updates and once I found a new Message I called adapter.OnMessageRecieved(...) for the appropriate participant and message which then triggers the notifications and updates.

[2022-08-09 10:50] UdaramPrajapat commented on #190
@amey2792 could you please help me in implementation of getMessageHistoryByPage(destinataryId: any, size: number, page: number)
This function is not being called automatically when i scroll top to see old chat history... how did you manged to get history by page